{% extends 'layout/layout' %}
{% set quantity = serviceCart().totalQuantities %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% block meta %}
    {{ headTitle('Thanh toán | ABC').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta property="og:title" content="Thanh toán">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ '/css/validationEngine.jquery.css' }}" type="text/css">
    <link rel="stylesheet" href="{{ templatePath ~'/css/childs/checkout.css' }}" type="text/css">
{% endblock %}

{% block body %}
    {% set products = serviceCart().products %}
    {% set totalCartMoney = serviceCart().totalMoney %}
    <div class="banner">
        <div class="wrap">
            <div class="logo--left ">

                <h1 class="shop__name">
                    <a href="/">
                        beemart.vn
                    </a>
                </h1>

            </div>
        </div>
    </div>
    <div class="content floating-labels">

        <form style="width: 100%" action="" method="post" id="formCheckOut">
            <input type="hidden" name="_method" value="patch">
            <div class="wrap">
                <main class="main">
                    <div class="main__header">
                        <div class="logo logo--left d-none d-lg-block">

                            <h1 class="shop__name">
                                <a href="/">
                                    beemart.vn
                                </a>
                            </h1>

                        </div>
                    </div>
                    <div class="main__content">
                        <article class="animate-floating-labels row">
                            <div class="col--two px-3 pt-0">
                                <section class="section">
                                    <div class="section__header">
                                        <div class="layout-flex">
                                            <h2 class="section__title layout-flex__item layout-flex__item--stretch">
                                                <i class="fa fa-id-card-o fa-lg section__title--icon hide-on-desktop"></i>

                                                Thông tin mua và nhận hàng

                                            </h2>
                                            {% if (hasIdentity()) %}
                                                        <a href="/user/logout">
                                                            <i class="fa fa-sign-out fa-lg"></i>
                                                            <span>Đăng xuất</span>
                                                        </a>
                                            {% else %}
                                                <a href="/user/login">
                                                    <i class="fa fa-user-circle-o fa-lg"></i>
                                                    <span><a class="pl-2" href="/user/signin">Đăng nhập</a></span>
                                                </a>
                                            {% endif %}

                                        </div>
                                    </div>
                                    <div class="section__content">
                                        <div class="fieldset">




                                            <div class="field field--show-floating-label">
                                                <div class="field__input-wrapper">
                                                    <label for="customerEmail" class="field__label">
                                                        Email
                                                    </label>
                                                    {% if (hasIdentity()) %}
                                                    <input name="customerEmail" id="customerEmail" type="email" class="field__input" data-bind="email" value="{{ getUser().email ? (getUser().email) : '' }}" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                                                    {% else %}
                                                    <input name="customerEmail" id="customerEmail" type="email" class="field__input" data-bind="email" value="{{ user?user.email:'' }}" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                                                    {% endif %}
                                                </div>

                                            </div>
                                            <div class="field field--show-floating-label">
                                                <div class="field__input-wrapper">
                                                    <label for="customerName" class="field__label">Họ và tên</label>
                                                    {% if (hasIdentity()) %}
                                                        <input name="customerName" id="customerName" type="text" class="field__input" data-bind="billing.name" value="{{ getUser().fullName ? getUser().fullName : '' }}">
                                                    {% else %}
                                                    <input name="customerName" id="customerName" type="text" class="field__input" data-bind="billing.name" value="{{ user?user.fullName:'' }}">
                                                    {% endif %}
                                                </div>

                                            </div>

                                            <div class="field field--show-floating-label">
                                                <div class="field__input-wrapper">
                                                    <label for="customerMobile" class="field__label">
                                                        Số điện thoại
                                                    </label>
                                                    <input name="customerMobile" id="customerMobile" type="tel" class="field__input" data-bind="billing.phone" value="{{ user ? (user.mobile | replace({'+84': '0'})):'' }}">
                                                </div>

                                            </div>


                                            <div class="field field--show-floating-label">
                                                <div class="field__input-wrapper">
                                                    <label for="customerAddress" class="field__label">
                                                        Địa chỉ
                                                    </label>
                                                    <input name="customerAddress" id="customerAddress" type="text" class="field__input" data-bind="billing.address" value="{{ user?user.address }}">
                                                </div>

                                            </div>
                                            <div class="field field--show-floating-label ">
                                                <div class="field__input-wrapper field__input-wrapper--select2">
                                                    <label class="field__label">Tỉnh thành</label>
                                                    <select id="customcityId" name="customerCityId" size="1" type="text" class=" select2-hidden-accessible validate[required] field-input">
                                                        <option value="">---</option>
                                                        {% for city in cities %}
                                                            <option {{ (user and user.cityLocationId == city.id ? '' : '') }}
                                                                    value="{{ city.Id }}">
                                                                {{ city.nativeName }}
                                                            </option>
                                                        {% endfor %}
                                                        </select>
                                                    <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-1-dpzl" style="width: 100%;">
                                                        <span class="selection">
                                                            <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-billingProvince-container">
                                                                <span class="select2-selection__rendered" id="select2-billingProvince-container" role="textbox" aria-readonly="true" title="---"></span>
                                                                <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                                                            </span>
                                                        </span>
                                                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                                                    </span>

                                                </div>
                                            </div>
                                            <div class="field field--show-floating-label ">
                                                <div class="field__input-wrapper field__input-wrapper--select2">
                                                    <label class="field__label">
                                                        Quận huyện
                                                    </label>
                                                    <select id="customdistrictId" name="customerDistrictId" name="customerDistrictId" size="1" type="text" class="select2-hidden-accessible validate[required] field-input">
                                                        <option value="">---</option>
                                                        {% if(user) %}
                                                            {% set dts = getDistrict(user.cityLocationId) %}
                                                            {{ toSelectBox(dts, user.districtLocationId) }}
                                                        {% endif %}
                                                    </select><span class="select2 select2-container select2-container--default select2-container--disabled" dir="ltr" data-select2-id="select2-data-2-m5up" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="true" aria-labelledby="select2-billingDistrict-container"><span class="select2-selection__rendered" id="select2-billingDistrict-container" role="textbox" aria-readonly="true"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
                                            </div>
                                            <div class="field field--show-floating-label ">
                                                <div class="field__input-wrapper field__input-wrapper--select2">
                                                    <label for="billingWard" class="field__label">
                                                        Phường xã
                                                    </label>
                                                    <select name='customerWardId' id='wardId' class="select2-hidden-accessible validate[required] field-input" value="">
                                                        <option value="">---</option>
                                                    </select>
                                                    <span class="select2 select2-container select2-container--default select2-container--disabled" dir="ltr" data-select2-id="select2-data-3-6ou6" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="true" aria-labelledby="select2-billingWard-container"><span class="select2-selection__rendered" id="select2-billingWard-container" role="textbox" aria-readonly="true"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>

                                            </div>




                                        </div>
                                    </div>
                                </section>

                                <div class="fieldset">
                                    <h3 class="visually-hidden">Ghi chú</h3>
                                    <div class="field " data-bind-class="{'field--show-floating-label': note}">
                                        <div class="field__input-wrapper">
                                            <label for="note" class="field__label">
                                                Ghi chú (tùy chọn)
                                            </label>
                                            <textarea name="note" id="note" type="text" class="field__input" data-bind="note"></textarea>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col--two px-3 pt-0">
                                <section class="section">
                                    <div class="section__header">
                                        <div class="layout-flex">
                                            <h2 class="section__title layout-flex__item layout-flex__item--stretch">
                                                <i class="fa fa-truck fa-lg section__title--icon hide-on-desktop"></i>
                                                Vận chuyển
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="section__content" data-tg-refresh="refreshShipping" id="shippingMethodList" data-define="{isAddressSelecting: true, shippingMethods: []}">
                                        <div class="alert alert--loader spinner spinner--active hide" data-bind-show="isLoadingShippingMethod">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="spinner-loader">
                                                <use href="#spinner"></use>
                                            </svg>
                                        </div>


                                        <div class="alert alert-retry alert--danger hide">
                                            <span>Không thể load phí vận chuyển. Vui lòng thử lại</span> <i class="fa fa-refresh"></i>
                                        </div>


                                        <div class="alert alert--info">
                                            Vui lòng nhập thông tin giao hàng
                                        </div>
                                        <div id="tableShipFee"></div>
                                    </div>
                                </section>


                                <section class="section">
                                    <div class="section__header">
                                        <div class="layout-flex">
                                            <h2 class="section__title layout-flex__item layout-flex__item--stretch">
                                                <i class="fa fa-credit-card fa-lg section__title--icon hide-on-desktop"></i>
                                                Thanh toán
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="section__content">

                                        <div class="content-box">
                                            <input type="hidden" id="baokimPmMethodId"
                                                   name="baokimBankPaymentMethodId"/>
                                            <input type="hidden" id="storeId" name="storeId"
                                                   value="<?= $storeId; ?>"/>
                                            <input type="hidden" name="shipFee" value="0"/>
                                            <input type="hidden" id="mailManager" name="mailManager"
                                                   value="{{ user.mobile }}"/>

                                            <div class="content-box__row">
                                                <div class="radio-wrapper">
                                                    <div class="radio__input">
                                                        <input name="paymentMethod" id="rdPaymentMethodCod" type="radio" class="input-radio" value="{{ constant('Order\\Service\\Payment\\Payment::PAYMENT_METHOD_COD') }}">
                                                    </div>
                                                    <label for="paymentMethod" class="radio__label">
                                                        <span class="radio__label__primary">Thanh toán khi giao hàng (COD)</span>
                                                        <span class="radio__label__accessory">
															<span class="radio__label__icon">
																<i class="payment-icon payment-icon--4"></i>
															</span>
														</span>
                                                    </label>
                                                </div>

                                                <div class="content-box__row__desc" data-bind-show="paymentMethod == 467576">
                                                    <p>"Beemart hỗ trợ giao hàng trên toàn quốc với đơn hàng giá trị trên 100.000đ
                                                    </p> <p>Phí ship các quận tại Hà Nội và TP.HCM từ 15.000 - 35.000đ
                                                    </p> <p>Phí ship các huyện lân cận từ 40.000 - 100.000đ
                                                    </p> <p>Phí ship các tỉnh thành khác dao động từ 40.000đ - 150.000đ (Giao hàng từ 3-7 ngày)
                                                    </p> <p>Lưu ý: Hàng lạnh chỉ nhận ship nội thành Hà Nội, Hồ Chí Minh."</p>

                                                </div>

                                            </div>

                                            {# <div class="content-box__row">
                                                <div class="radio-wrapper">
                                                    <div class="radio__input">
                                                        <input name="paymentMethod" id="BankTransfer" type="radio" class="input-radio" value="467575">
                                                    </div>
                                                    <label for="paymentMethod-467575" class="radio__label">
                                                        <span class="radio__label__primary">Chuyển khoản qua ngân hàng</span>
                                                        <span class="radio__label__accessory">
															<span class="radio__label__icon">
																<i class="payment-icon payment-icon--3"></i>
															</span>
														</span>
                                                    </label>
                                                </div>
                                                <div class="content-box__row__desc">
                                                    <p>"Thông tin chuyển khoản khi mua hàng online tại Beemart:
                                                    </p> <br> <p>Vietcombank
                                                    </p> <p>Số tài khoản : 0011004193352
                                                    </p> <p>Chủ tài khoản : TỐNG THỊ NGỌC ÁNH
                                                    </p> <p>Chi nhánh : Hà Nội"</p>
                                                </div>
                                            </div>#}
                                            {% set methodlist = ['null','Thanh toán bằng thẻ ngân hàng nội địa','Thanh toán bằng thẻ quốc tế Visa/Master card',
                                                'Thanh toán bằng internet Banking','Chuyển khoản tại máy ATM','Chuyển khoản tại quầy giao dịch Ngân hàng' ] %}
                                            {% set getbank = baokimPayment() %}
                                            {% if(getbank is not empty) %}
                                                {% set b=0 %}
                                                {% for method in getbank %}
                                                    {% set b = b+1 %}
                                                    <div class="content-box__row">
                                                        <div class="radio-wrapper">
                                                            <div class="radio__input">
                                                                <input  name="paymentMethod" type="radio" data-show=".bank{{ b }}"
                                                                        class="input-radio" value="{{ constant('Order\\Service\\Payment\\Payment::PAYMENT_METHOD_GATEWAY') }}">
                                                            </div>
                                                            <label for="paymentMethod-467574" class="radio__label">
                                                                <span class="radio__label__primary">{{ methodlist[b] }}</span>
                                                                <span class="radio__label__accessory">
															<span class="radio__label__icon">
																<i class="payment-icon payment-icon--3"></i>
															</span>
														</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                        <div class="listBank bank{{ b }} a-center">
                                                            {% if(method is not empty) %}
                                                                {% for bank in method %}
                                                                    <span data-baokimPmId="{{ bank.id }}"><img src="{{ bank.logoUrl}}" title="{{ bank.name }}"/></span>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </article>
                        <div class="field__input-btn-wrapper field__input-btn-wrapper--vertical hide-on-desktop">
                            <button type="submit" id="submitForm" form="formCheckOut" class="btn btn-checkout spinner" data-bind-class="{'spinner--active': isSubmitingCheckout}" data-bind-disabled="isSubmitingCheckout || isLoadingReductionCode">
                                <span class="spinner-label">ĐẶT HÀNG</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="spinner-loader">
                                    <use href="#spinner"></use>
                                </svg>
                            </button>
                            <a href="/cart" class="previous-link">
                                <i class="previous-link__arrow">❮</i>
                                <span class="previous-link__content">Quay về giỏ hàng</span>
                            </a>
                        </div>
                        <div id="common-alert" data-tg-refresh="refreshError">
                            <div class="alert alert--danger hide-on-desktop hide" data-bind-show="!isSubmitingCheckout &amp;&amp; isSubmitingCheckoutError" data-bind="submitingCheckoutErrorMessage">Có lỗi xảy ra khi xử lý. Vui lòng thử lại</div>
                        </div>
                    </div>

                    <div class="main__footer unprintable">
                        <ul class="main__policy">
                            <li>

                                <a data-toggle="#refund_term" data-toggle-class="hide">Chính sách hoàn trả</a>

                            </li>
                            <li>

                                <a data-toggle="#privacy_term" data-toggle-class="hide">Chính sách bảo mật</a>

                            </li>
                            <li>

                                <a data-toggle="#service_term" data-toggle-class="hide">Điều khoản sử dụng</a>

                            </li>
                        </ul>
                        <p>Beemart - Mang yêu thương đến triệu căn bếp Việt</p>
                        <div class="modal-wrapper hide" id="refund_term">
                            <div class="modal" style="display: inline-block;">
                                <div class="modal-header">
                                    <h2 class="modal-title">Chính sách hoàn trả</h2>
                                    <span class="close" data-toggle="#refund_term" data-toggle-class="hide">×</span>
                                </div>
                                <div class="modal-body">
				<pre class="term-preview">CHÍNH SÁCH ĐỔI TRẢ HÀNG
1. Đổi trả theo nhu cầu khách hàng (đổi trả hàng vì không ưng ý)
Tất cả mặt hàng đã mua đều có thể hoàn trả trong vòng 30 ngày kể từ ngày nhận hàng (trừ khi có quy định gì khác). Chúng tôi chỉ chấp nhận đổi trả cho các sản phẩm còn nguyên điều kiện ban đầu, còn hóa đơn mua hàng &amp; sản phẩm chưa qua sử dụng, bao gồm:
- Còn nguyên đóng gói và bao bì không bị móp rách.
- Đầy đủ các chi tiết, phụ kiện.
- Tem/ phiếu bảo hành, tem thương hiệu, hướng dẫn kỹ thuật  và các quà tặng kèm theo (nếu có) v.v… phải còn đầy đủ và nguyên vẹn
- Không bị dơ bẩn, trầy xước, hư hỏng, có mùi lạ hoặc có dấu hiệu đã qua qua sử dụng
2. Đổi trả không vì lý do chủ quan từ khách hàng
2.1. Hàng giao không mới, không nguyên vẹn, sai nội dung hoặc bị thiếu:
Chúng tôi khuyến khích quý khách hàng phải kiểm tra tình trạng bên ngoài của thùng hàng và sản phẩm trước khi thanh toán để đảm bảo rằng hàng hóa được giao đúng chủng loại, số lượng, màu sắc theo đơn đặt hàng và tình trạng bên ngoài không bị tác động.
Nếu gặp trường hợp này, Quý khách vui lòng từ chối nhận hàng và/hoặc báo ngay cho bộ phận hỗ trợ khách hàng để chúng tôi có phương án xử lí kịp thời. (Xin lưu ý những bước kiểm tra sâu hơn như dùng thử sản phẩm chỉ có thể được chấp nhận sau khi đơn hàng được thanh toán đầy đủ).
Trong trường hợp khách hàng đã thanh toán, nhận hàng và sau đó phát hiện hàng hóa không còn mới nguyên vẹn, sai nội dung hoặc thiếu hàng, xin vui lòng chụp ảnh sản phẩm gửi về hộp thư của chúng tôi để được chúng tôi hỗ trợ các bước tiếp theo như đổi/trả hàng hoặc gửi sản phẩm còn thiếu đến quý khách…
Sau 48h kể từ ngày quý khách nhận hàng, chúng tôi có quyền từ chối hỗ trợ cho những khiếu nại theo nội dung như trên.
2.2. Hàng giao bị lỗi
Khi quý khách gặp trục trặc với sản phẩm đặt mua của chúng tôi, vui lòng thực hiện các bước sau đây:
- Bước 1: Kiểm tra lại sự nguyên vẹn của sản phẩm, chụp lại ảnh sản phẩm xuất hiện lỗi.
- Bước 2: Quý khách liên hệ với trung tâm chăm sóc khách hàng của chúng tôi để được xác nhận.
- Bước 3:Trong vòng 30 ngày kể từ ngày nhận hàng, nếu quý khách được xác nhận từ trung tâm chăm sóc khách hàng rằng sản phẩm bị lỗi kỹ thuật, quý khách vui lòng truy cập ngay Hướng dẫn đổi trả hàng để bắt đầu quy trình đổi trả hàng.
3. Phương thức hoàn tiền
Tùy theo lí do hoàn trả sản phẩm kết quả đánh giá chất lượng tại kho, chúng tôi sẽ có những phương thức hoàn tiền với chi tiết như sau:
- Hoàn tiền bằng mã tiền điện tử dùng để mua sản phẩm mới
- Đổi sản phẩm mới cùng loại
- Chuyển khoản qua ngân hàng theo thông tin của quý khách cung cấp
- Riêng đối với các đơn hàng thanh toán qua thẻ tín dụng quốc tế, chúng tôi sẽ áp dụng hình thức hoàn tiền vào tài khoản thanh toán của chủ thẻ.
- Hoàn tiền mặt trực tiếp tại văn phòng
Mọi chi tiết hoặc thắc mắc quý khách vui lòng liên hệ với chúng tôi qua số điện thoại hỗ trợ hoặc để lại lời nhắn tại website. Xin chân thành cảm ơn.</pre>
                                </div>
                            </div>
                        </div>
                        <div class="modal-wrapper hide" id="privacy_term">
                            <div class="modal" style="display: inline-block;">
                                <div class="modal-header">
                                    <h2 class="modal-title">Chính sách bảo mật</h2>
                                    <span class="close" data-toggle="#privacy_term" data-toggle-class="hide">×</span>
                                </div>
                                <div class="modal-body">
				<pre class="term-preview">CHÍNH SÁCH BẢO MẬT
Cám ơn quý khách đã quan tâm và truy cập vào website. Chúng tôi tôn trọng và cam kết sẽ bảo mật những thông tin mang tính riêng tư của Quý khách.
Chính sách bảo mật sẽ giải thích cách chúng tôi tiếp nhận, sử dụng và (trong trường hợp nào đó) tiết lộ thông tin cá nhân của Quý khách.
Bảo vệ dữ liệu cá nhân và gây dựng được niềm tin cho quý khách là vấn đề rất quan trọng với chúng tôi. Vì vậy, chúng tôi sẽ dùng tên và các thông tin khác liên quan đến quý khách tuân thủ theo nội dung của Chính sách bảo mật. Chúng tôi chỉ thu thập những thông tin cần thiết liên quan đến giao dịch mua bán.
Chúng tôi sẽ giữ thông tin của khách hàng trong thời gian luật pháp quy định hoặc cho mục đích nào đó. Quý khách có thể truy cập vào website và trình duyệt mà không cần phải cung cấp chi tiết cá nhân. Lúc đó, Quý khách đang ẩn danh và chúng tôi không thể biết bạn là ai nếu Quý khách không đăng nhập vào tài khoản của mình.
1. Thu thập thông tin cá nhân
- Chúng tôi thu thập, lưu trữ và xử lý thông tin của bạn cho quá trình mua hàng và cho những thông báo sau này liên quan đến đơn hàng, và để cung cấp dịch vụ, bao gồm một số thông tin cá nhân: danh hiệu, tên, giới tính, ngày sinh, email, địa chỉ, địa chỉ giao hàng, số điện thoại, fax, chi tiết thanh toán, chi tiết thanh toán bằng thẻ hoặc chi tiết tài khoản ngân hàng.
- Chúng tôi sẽ dùng thông tin quý khách đã cung cấp để xử lý đơn đặt hàng, cung cấp các dịch vụ và thông tin yêu cầu thông qua website và theo yêu cầu của bạn.
- Hơn nữa, chúng tôi sẽ sử dụng các thông tin đó để quản lý tài khoản của bạn; xác minh và thực hiện giao dịch trực tuyến, nhận diện khách vào web, nghiên cứu nhân khẩu học, gửi thông tin bao gồm thông tin sản phẩm và dịch vụ. Nếu quý khách không muốn nhận bất cứ thông tin tiếp thị của chúng tôi thì có thể từ chối bất cứ lúc nào.
- Chúng tôi có thể chuyển tên và địa chỉ cho bên thứ ba để họ giao hàng cho bạn (ví dụ cho bên chuyển phát nhanh hoặc nhà cung cấp).
- Chi tiết đơn đặt hàng của bạn được chúng tôi lưu giữ nhưng vì lí do bảo mật nên chúng tôi không công khai trực tiếp được. Tuy nhiên, quý khách có thể tiếp cận thông tin bằng cách đăng nhập tài khoản trên web. Tại đây, quý khách sẽ thấy chi tiết đơn đặt hàng của mình, những sản phẩm đã nhận và những sản phẩm đã gửi và chi tiết email, ngân hàng và bản tin mà bạn đặt theo dõi dài hạn.
- Quý khách cam kết bảo mật dữ liệu cá nhân và không được phép tiết lộ cho bên thứ ba. Chúng tôi không chịu bất kỳ trách nhiệm nào cho việc dùng sai mật khẩu nếu đây không phải lỗi của chúng tôi.
- Chúng tôi có thể dùng thông tin cá nhân của bạn để nghiên cứu thị trường. mọi thông tin chi tiết sẽ được ẩn và chỉ được dùng để thống kê. Quý khách có thể từ chối không tham gia bất cứ lúc nào.
2. Bảo mật
- Chúng tôi có biện pháp thích hợp về kỹ thuật và an ninh để ngăn chặn truy cập trái phép hoặc trái pháp luật hoặc mất mát hoặc tiêu hủy hoặc thiệt hại cho thông tin của bạn.
- Chúng tôi khuyên quý khách không nên đưa thông tin chi tiết về việc thanh toán với bất kỳ ai bằng e-mail, chúng tôi không chịu trách nhiệm về những mất mát quý khách có thể gánh chịu trong việc trao đổi thông tin của quý khách qua internet hoặc email.
- Quý khách tuyệt đối không sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào hệ thống hay làm thay đổi cấu trúc dữ liệu. Nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt động nào nhằm can thiệp, phá hoại hay xâm nhập vào dữ liệu của hệ thống website. Mọi vi phạm sẽ bị tước bỏ mọi quyền lợi cũng như sẽ bị truy tố trước pháp luật nếu cần thiết.
- Mọi thông tin giao dịch sẽ được bảo mật nhưng trong trường hợp cơ quan pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan pháp luật.
Các điều kiện, điều khoản và nội dung của trang web này được điều chỉnh bởi luật pháp Việt Nam và tòa án Việt Nam có thẩm quyền xem xét.
3. Quyền lợi khách hàng
-Quý khách có quyền yêu cầu truy cập vào dữ liệu cá nhân của mình, có quyền yêu cầu chúng tôi sửa lại những sai sót trong dữ liệu của bạn mà không mất phí. Bất cứ lúc nào bạn cũng có quyền yêu cầu chúng tôi ngưng sử dụng dữ liệu cá nhân của bạn cho mục đích tiếp thị.
</pre>
                                </div>
                            </div>
                        </div>
                        <div class="modal-wrapper hide" id="service_term">
                            <div class="modal" style="display: inline-block;">
                                <div class="modal-header">
                                    <h2 class="modal-title">Điều khoản sử dụng</h2>
                                    <span class="close" data-toggle="#service_term" data-toggle-class="hide">×</span>
                                </div>
                                <div class="modal-body">
                                    <pre class="term-preview">HƯỚNG DẪN MUA HÀNG
Bước 1: Truy cập website và lựa chọn sản phẩm cần mua để mua hàng
Bước 2:  Click và sản phẩm muốn mua, màn hình hiển thị ra pop up với các lựa chọn sau:
Nếu bạn muốn tiếp tục mua hàng: Bấm vào phần tiếp tục mua hàng để lựa chọn thêm sản phẩm vào giỏ hàng
Nếu bạn muốn xem giỏ hàng để cập nhật sản phẩm: Bấm vào xem giỏ hàng
Nếu bạn muốn đặt hàng và thanh toán cho sản phẩm này vui lòng bấm vào: Đặt hàng và thanh toán
Bước 3: Lựa chọn thông tin tài khoản thanh toán
Nếu bạn đã có tài khoản vui lòng nhập thông tin tên đăng nhập là email và mật khẩu vào mục đã có tài khoản trên hệ thống
Nếu bạn chưa có tài khoản và muốn đăng ký tài khoản vui lòng điền các thông tin cá nhân để tiếp tục đăng ký tài khoản. Khi có tài khoản bạn sẽ dễ dàng theo dõi được đơn hàng của mình
Nếu bạn muốn mua hàng mà không cần tài khoản vui lòng nhấp chuột vào mục đặt hàng không cần tài khoản
Bước 4: Điền các thông tin của bạn để nhận đơn hàng, lựa chọn hình thức thanh toán và vận chuyển cho đơn hàng của mình
Bước 5: Xem lại thông tin đặt hàng, điền chú thích và gửi đơn hàng
Sau khi nhận được đơn hàng bạn gửi chúng tôi sẽ liên hệ bằng cách gọi điện lại để xác nhận lại đơn hàng và địa chỉ của bạn.
Trân trọng cảm ơn.

</pre>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>
                <aside class="sidebar">
                    <div class="sidebar__header">
                        <h2 class="sidebar__title">
                            Đơn hàng ({{ quantity}} sản phẩm)
                        </h2>
                    </div>
                    <div class="sidebar__content">
                        <div id="order-summary" class="order-summary order-summary--is-collapsed">
                            <div class="order-summary__sections">
                                <div class="order-summary__section order-summary__section--product-list order-summary__section--is-scrollable order-summary--collapse-element">
                                    <table class="product-table">
                                        <caption class="visually-hidden">Chi tiết đơn hàng</caption>
                                        <thead class="product-table__header">
                                        <tr>
                                            <th>
                                                <span class="visually-hidden">Ảnh sản phẩm</span>
                                            </th>
                                            <th>
                                                <span class="visually-hidden">Mô tả</span>
                                            </th>
                                            <th>
                                                <span class="visually-hidden">Sổ lượng</span>
                                            </th>
                                            <th>
                                                <span class="visually-hidden">Đơn giá</span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for p in products %}
                                            {% set image = p.thumbnailUri %}
                                            {% set options = {
                                                alt: p.name,
                                                lazy: true,
                                                openDiv: false,
                                                class: 'attachment-post-thumbnail size-post-thumbnail wp-post-image',
                                            } %}
                                            <tr class="product">
                                                <td class="product__image">
                                                    <div class="product__thumbnail">
                                                        <div class="product-thumbnail__wrapper" data-tg-static="">
                                                            <img src="{{ image }}" alt="{{ p.name }}" class="product-thumbnail__image">
                                                        </div>
                                                        <span class="product-thumbnail__quantity">{{ p.quantity }}</span>
                                                    </div>
                                                </td>
                                                <th class="product__description">
													<span class="product__description__name">

														{{ p.name }}
													</span>


                                                </th>
                                                <td class="product__quantity visually-hidden"><em>Số lượng:</em> {{ quantity }}</td>
                                            {% if(p.moneyDiscount) %}
                                            {% set mnDiscount = ( p.moneyDiscount//p.quantity) %}
                                            {% if (countPs == 1) %}
                                                {% set mnDiscount = serviceCart().moneyDiscount//p.quantity %}
                                            {% endif %}
                                            {% set ttMoney = p.price - mnDiscount %}
                                            <td class="product__price">{{ ttMoney*p.quantity |number_format(0, '.', ',') ~ ' ₫' }}</td>
                                        {% else %}
                                            <td class="product__price">{{ (p.price*p.quantity)|number_format(0, '.', ',') ~ ' ₫' }}</td>
                                            {% endif %}
                                            </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <div class="order-summary__section order-summary__section--discount-code" data-tg-refresh="refreshDiscount" id="discountCode">
                                    <h3 class="visually-hidden">Mã khuyến mại</h3>
                                    <div class="edit_checkout animate-floating-labels">
                                        <div class="fieldset">
                                            <div class="field  ">
                                                <div class="field__input-btn-wrapper">
                                                    <div class="field__input-wrapper floating-labels field--show-floating-label">
                                                        <label for="reductionCode" class="field__label">Nhập mã giảm giá</label>
                                                        <input name="reductionCode" id="coupon" type="text" class="field__input">
                                                    </div>
                                                    <button id="getCoupon" class="field__input-btn btn-checkout spinner btn--disabled" type="button">
                                                        <span class="spinner-label">Áp dụng</span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="spinner-loader">
                                                            <use href="#spinner"></use>
                                                        </svg>
                                                    </button>
                                                </div>

                                                <p class="field__message field__message--error field__message--error-always-show hide" data-bind-show="!isLoadingReductionCode &amp;&amp; isLoadingReductionCodeError" data-bind="loadingReductionCodeErrorMessage">Có lỗi xảy ra khi áp dụng khuyến mãi. Vui lòng thử lại</p>
                                            </div>

                                        </div><div style="margin-top: 10px;"></div>
                                    </div>
                                </div>
                                <div class="order-summary__section order-summary__section--total-lines" data-define="{subTotalPriceText: '250.000₫'}" data-tg-refresh="refreshOrderTotalPrice" id="orderSummary">
                                    <table class="total-line-table">
                                        <caption class="visually-hidden">Tổng giá trị</caption>
                                        <thead>
                                        <tr>
                                            <td><span class="visually-hidden">Mô tả</span></td>
                                            <td><span class="visually-hidden">Giá tiền</span></td>
                                        </tr>
                                        </thead>
                                        <tbody class="total-line-table__tbody">

                                        <tr class="total-line total-line--subtotal">
                                            <th class="total-line__name">
                                                Tạm tính
                                            </th>
                                            <td class="total-line__price">{{ totalCartMoney|number_format(0, '.', ',') ~ ' ₫' }}</td>
                                        </tr>

                                        <tr class="total-line total-line--shipping-fee">
                                            <th class="total-line__name">
                                                Phí vận chuyển
                                            </th>
                                            <td id="shipFee" class="total-line__price">0₫</td>
                                        </tr>
                                        <tr class="total-line total-line--discount">
                                            <th class="total-line__name">
                                                Giảm giá
                                            </th>
                                            <td class="total-line__price" id="txtCode" value="0" value-start="{{ serviceCart().moneyDiscount}}">- {{ serviceCart().moneyDiscount | number_format(0, '.', ',') ~ ' ₫' }}</td>
                                        </tr>
                                        </tbody>
                                        <tfoot class="total-line-table__footer">
                                        <tr class="total-line payment-due">
                                            <th class="total-line__name">
													<span class="payment-due__label-total">
														Tổng cộng
													</span>
                                            </th>
                                            <td class="total-line__price">
                                                <span id="showTotalMoney" class="payment-due__price" value="{{ totalCartMoney }}">{{ totalCartMoney|number_format(0, '.', ',') ~ ' ₫' }}</span>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="order-summary__nav field__input-btn-wrapper hide-on-mobile">

                                    <a href="/cart" class="previous-link">
                                        <i class="previous-link__arrow">❮</i>
                                        <span class="previous-link__content">Quay về giỏ hàng</span>
                                    </a>

                                    <button type="submit" class="btn btn-checkout spinner">
                                        <span class="spinner-label">ĐẶT HÀNG</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="spinner-loader">
                                            <use href="#spinner"></use>
                                        </svg>
                                    </button>
                                </div>

                                <div id="common-alert-sidebar" data-tg-refresh="refreshError">


                                    <div class="alert alert--danger hide-on-mobile hide" data-bind-show="!isSubmitingCheckout &amp;&amp; isSubmitingCheckoutError" data-bind="submitingCheckoutErrorMessage">Có lỗi xảy ra khi xử lý. Vui lòng thử lại</div>
                                </div>
                                <div style="display: none">
                                    <div id="progressbar" style="text-align: center;">
                                        <p style="font-size:13px;background-color: #F0F0F0;line-height: 40px;padding: 0 10px;width:200px;">
                                            Đang xử lý !</p>
                                        <img class="lazyload" data-sizes="auto" src="/tpl/V0511/image/loading.gif"
                                             data-src="/tpl/V0511/image/loading.gif"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>

        </form>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="spinner">
                <svg viewBox="0 0 30 30">
                    <circle stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-dasharray="85%" cx="50%" cy="50%" r="40%">
                        <animateTransform attributeName="transform" type="rotate" from="0 15 15" to="360 15 15" dur="0.7s" repeatCount="indefinite"></animateTransform>
                    </circle>
                </svg>
            </symbol>
        </svg>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ '/cdn/_cache/location.vn.js' }}"></script>
    <script type="text/javascript" src="{{ '/js/jquery/jquery.validationEngine-vi.js' }}"></script>
    <script type="text/javascript" src="{{ '/js/jquery/jquery.validationEngine.js' }}"></script>
    <script type="text/javascript" src="{{ templatePath ~'/js/checkout.js' }}"></script>
{% endblock %}