{% extends "layout/layout" %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% block meta %}
    {{ headTitle('Giỏ hàng').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta property="og:title" content="Giỏ hàng">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
{% endblock %}
{% block body %}
    {% set totalCartMoney = serviceCart().totalMoney %}
    {% set products = serviceCart().products %}






    <section class="wrap_page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title_head left after">
                        <span class="padding__">Giỏ hàng của bạn</span>
                    </h1>
                    <div class="header-cart title_cart_pc hidden-sm hidden-xs">

                    </div>
                </div>
            </div>
        </div>
    </section>


    {% if(products) %}
        <section class="main-cart-page main-container col1-layout">
            <div class="main container hidden-xs hidden-sm">

                <div class="col-main cart_desktop_page cart-page">
                    <div class="cart page_cart hidden-xs">
                        <form action="/cart" method="post" novalidate="" class="margin-bottom-0">
                            <div class="bg-scroll">
                                <div class="cart-thead">
                                    <div style="width: 18%" class="a-center">Ảnh sản phẩm</div>
                                    <div style="width: 32%" class="a-center">Tên sản phẩm</div>
                                    <div style="width: 17%" class="a-center"><span class="nobr">Đơn giá</span></div>
                                    <div style="width: 14%" class="a-center">Số lượng</div>
                                    <div style="width: 14%" class="a-center">Thành tiền</div>
                                    <div style="width: 5%" class="a-center">Xoá</div>
                                </div>
                                <div class="bodyTable">
                                {% for p in products %}
                                    {% set image = p.thumbnailUri %}
                                    {% set options = {
                                        alt: p.name,
                                        lazy: true,
                                        openDiv: false,
                                        class: 'attachment-post-thumbnail size-post-thumbnail wp-post-image',
                                    } %}
                                    <div class="cart-tbody ">
                                        <div class="item-cart cartItem_{{ p.id }}" price="{{ p.price }}">
                                            <div style="width: 18%" class="image">
                                                <a class="product-image" title="Kệ tivi treo tường phòng khách hiện đại" href="">
                                                    <img width="75" height="auto" alt="Kệ tivi treo tường phòng khách hiện đại" src="{{ image }}">
                                                </a>
                                            </div>
                                            <div style="width: 32%" class="a-center">
                                                <h3 class="product-name">
                                                    <a class="text2linex" href="">{{ p.name }}</a>
                                                </h3></div><div style="width: 17%" class="a-center">
                                                <span class="item-price"> <span class="price">{{ p.price | number_format(0)}} VND</span></span>
                                            </div>
                                            <div style="width: 14%" class="a-center">
                                                <div class="input_qty_pr">

                                                    <input psid="{{ p.id }}" name="quantity" type="number" id="qtyItem{{ p.id }}" name="quantity" value="{{ p.quantity }}" max="{{ p.inventory().calcAvailable }}" min="1" class="updateCart check_number_here input-text number-sidebar input_pop input_pop qtyItem{{ p.id }}" >
                                                    <button  id="QtyUp" class="increase_pop items-count btn-plus" type="button">+</button>
                                                    <button  id="QtyDown" class="reduced_pop items-count btn-minus" type="button">-</button>
                                                </div>
                                            </div>
                                            <div style="width: 14%" class="a-center">
                                                <span class="cart-price"> <span class="price">{{ p.price * p.quantity | number_format(0)}} VND</span> </span>
                                            </div>
                                            <div style="width: 5%" class="a-center">
                                                <a class="remove-itemx remove-item-cart" title="Xóa" href="javascript:;" style="cursor: pointer;" data-id="{{ p.id }}" psid="{{ p.id }}">
                                                    <span><i class="fa fa-trash-o"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </form>

                        <script>



                        </script>

                        <div class="row margin-top-20  margin-bottom-40">
                            <div class="col-lg-7 col-md-7">
                                <div class="form-cart-button">
                                    <div class=""><a href="/" class="form-cart-continue">Tiếp tục mua hàng</a></div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 bg_cart shopping-cart-table-total">
                                <div class="table-total">
                                    <table class="table ">
                                        <tbody>
                                        <tr>
                                            <td>Tạm tính</td>
                                            <td class="txt-right totals_price a-right">{{ totalCartMoney | number_format(0)}} VND</td>
                                        </tr>
                                        <tr class="hidden">
                                            <td>Tiền vận chuyển</td>
                                            <td class="txt-right a-right">Tính khi thanh toán</td>
                                        </tr>
                                        <tr>
                                            <td class="total-text">Tổng tiền thanh toán</td>
                                            <td class="txt-right totals_price price_end a-right">{{ totalCartMoney | number_format(0)}} VND</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a onclick="window.location.href='/cart/checkout?emptylayout=true'" class="btn-checkout-cart">Tiến hành thanh toán</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </section>
    {% endif %}



    {% if(products) %}
    <div class="cart-mobile hidden-md hidden-lg container">
        <form action="/cart" method="post" novalidate="" class="margin-bottom-0">
            <div class="title_cart_mobile">

            </div>

            <div class="header-cart-content" style="background:#fff;">
                <div class="cart_page_mobile content-product-list">
                    {% for p in products %}
                    {% set image = p.thumbnailUri %}
                    {% set options = {
                        alt: p.name,
                        lazy: true,
                        openDiv: false,
                        class: 'attachment-post-thumbnail size-post-thumbnail wp-post-image',
                    } %}
                    <div class="item-product item-cart item-mobile-cart item productid-1033569873 ">
                        <div class="item-product-cart-mobile">
                            <a href="{{ p.viewLink }}">	</a>
                            <a class="product-images1" href="{{ p.viewLink }}" title="">
                                <img width="80" height="150" alt="Kệ tivi treo tường phòng khách hiện đại" src="{{ image }}">
                            </a>
                        </div>
                        <div class="title-product-cart-mobile">
                            <h3><a class="text2linex" href="" title="">{{ p.name }}</a>
                            </h3><p>Giá: <span>{{ p.price | number_format(0)}} VND</span></p>
                        </div>
                        <div class="select-item-qty-mobile">
                            <div class="txt_center in_put check_">
                                <button id="QtyDown" class="reduced_pop reduced items-count btn-minus" type="button">–</button>
                                <input psid="{{ p.id }}" name="quantity" type="number" id="qtyItem{{ p.id }}" name="quantity" value="{{ p.quantity }}" max="{{ p.inventory().calcAvailable }}" min="1" class="updateCart check_number_here input-text number-sidebar input_pop input_pop qtyItem{{ p.id }}">
                                <button id="QtyUp"  class="increase_pop increase items-count btn-plus" type="button">+</button>
                            </div>
                            <a class="button remove-item remove-item-cart " href="javascript:;" style="cursor: pointer;" data-id="{{ p.id }}" psid="{{ p.id }}">Xoá</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="header-cart-price" style="">
                    <div class="title-cart a-center">
                        <span class="total_mobile a-center">Tổng tiền: <span class=" totals_price_mobile">{{ totalCartMoney | number_format(0)}} VND</span><span></span></span>
                    </div>
                    <div class="checkout">
                        <button class="btn-proceed-checkout-mobile" title="" type="button" href="/cart/checkout?emptylayout=true" onclick="window.location.href='/cart/checkout?emptylayout=true'"><span>Tiến hành thanh toán</span></button>
                        <button class="btn btn-white contin" title="Tiếp tục mua hàng" type="button" onclick="window.location.href='/product'"><span>Tiếp tục mua hàng</span></button>
                    </div>
                </div>
            </div>

        </form>
    </div>
    {% endif %}
{% endblock %}
{% block script %}

{% endblock %}