{% extends "layout/layout" %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% block meta %}
    {{ headTitle( promotion.name ).setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="description" content="{{ promotion.description?:promotion.name }}">
    <meta name="keywords" content="{{ promotion.description?:promotion.name }}">
    <meta property="og:title" content="{{ promotion.name }}">
    <meta property="og:description" content="{{ promotion.description?:promotion.name }}">
    <meta property="og:keywords" content="{{ promotion.description?:promotion.name }}">
    <meta property="og:type" content="{{ promotion.description?:promotion.name }}">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:image" content="{{ promotion.imageUri }}">
{% endblock %}
{% block body %}
<main>
    <div class="layout-promotion-view">
        <div class="container">
            <div class="product-items-all row">
                {% if(paginator.currentModels is not empty) %}
                    {% for p in paginator.currentModels %}
                        {% set image = p.thumbnailUri %}
                        {% set options = {
                            alt: p.name,
                            class: 'img-hover-defaul',
                            lazy: true,
                            openDiv: false,
                        } %}
                        {% set percent = p.calcDiscountPercent %}
                        {% set priceDiscount = p.priceAfterDiscount %}
                        {% set arrayIds = [p.id] %}

                        <div class="product-item seller text-center col-6 col-md-6 col-xl-3" data-id="{{ p.id }}"
                             data-storeId="{{ p.storeId }}"> <!-- product-item -->

                            <div class="img-hover
                         {% if(p.showHot > 0) %}
                                seller
                         {% else %}
                            {% endif %}
                        img-hover-best-seller">
                                <a href="{{ p.viewLink }}">
                                    {{ macroLazyFocusImager.LazyFocusImager(image,options) }}
                                    {% if(p.showHot > 0) %}
                                        <img src="https://theme.hstatic.net/1000197303/1000565533/14/best_seller.png?v=573"
                                             alt="" class="symbol-bestseller">
                                    {% else %}
                                    {% endif %}
                                    {% if(percent > 0) %}
                                        <span class="product-sale">{{ percent }}%</span>
                                    {% endif %}
                                </a>
                            </div>

                            <div class="product-content-inforandprice">
                                <h3 class="title-product-item">{{ p.name }}</h3>
                                {% if (p.priceAfterDiscount > 0) %}
                                    <div class="price-total-del">
                                        <span class="price-product-item">{{ p.priceAfterDiscount|number_format(0) }}₫</span>
                                        <span class="price-product-item-discount">{{p.price|number_format(0)}}₫</span>
                                    </div>
                                {% elseif (p.oldprice() > 0) %}
                                    <div class="price-total-del">
                                        <span class="price-product-item">{{ p.price|number_format(0) }}₫</span>
                                        <span class="price-product-item-discount">{{ p.oldprice|number_format(0) }}₫</span>
                                    </div>
                                {% else %}
                                    <p class="price-product-item">{{ p.price|number_format(0) }}₫</p>
                                {% endif %}
                            </div>

                        </div> <!-- end product-item -->
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</main>
{% endblock %}
