{% extends "layout/layout" %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% block meta %}
    {{ headTitle('Giỏ hàng').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta property="og:title" content="Giỏ hàng">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
{% endblock %}
{% block body %}
{% set totalCartMoney = serviceCart().totalMoney %}
{% set products = serviceCart().products %}
<div id="cart">
    <div class="container">
        <!-- Begin empty cart -->
        {% if(products) %}
            <div id="layout-page" class="col-md-12">
                <div class="main-title2 mb30 col-12">
                    <h1>Giỏ hàng</h1>
                </div>
                <div id="cartformpage" class="pb30">
                    <table class="cart cart-hidden">
                        <thead>
                        <tr>
                            <th class="image">Hình ảnh</th>
                            <th class="item">Tên sản phẩm</th>
                            <th class="qty">Số lượng</th>
                            <th class="price">Giá tiền</th>
                            <th class="remove">Xoá</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in products %}
                            {% set countPs = (products | length)? (products | length) : 0 %}
                            {% set image = p.thumbnailUri %}
                            {% set options = {
                                alt: p.name,
                                lazy: true,
                                openDiv: false,
                            } %}
                            <tr class="item">
                                <td class="image">
                                    <div class="product_image">
                                        <a href="{{ p.viewLink }}">
                                            {{ macroLazyFocusImager.LazyFocusImager(image,options) }}
                                        </a>
                                    </div>
                                </td>
                                <td class="item">
                                    <a href="{{ p.viewLink }}">
                                        <strong>{{ p.name }}</strong>
                                    </a>
                                </td>
                                <td class="qty">
                                    <input type="number" min="1" max="{{ p.inventory.calcAvailable }}"
                                           value="{{ p.quantity }}"
                                           class="item-quantity updateCart" data-id="{{ p.id }}"/>
                                </td>
                                <td class="price">
                                    {% if (p.moneyDiscount) %}
                                        {% set ttsMoney = (p.price * p.quantity) - p.moneyDiscount %}
                                        {% if (countPs == 1) %}
                                            {% set ttsMoney = (p.price * p.quantity) - serviceCart().moneyDiscount %}
                                        {% endif %}
                                        {{ ttsMoney | number_format(0) }} VNĐ
                                    {% else %}
                                        {{ (p.price * p.quantity) | number_format(0) }} VNĐ
                                    {% endif %}
                                </td>
                                <td class="remove">
                                    <a href="javascript:" rel="nofollow" class="cart remove_cart removeCart"
                                       data-id="{{ p.id }}"></a>
                                </td>
                            </tr>
                        {% endfor %}

                        <tr class="summary">
                            <td class="image">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td style="font-size: 20px; text-transform: uppercase;">Tổng tiền</td>
                            <td class="price">
									<span class="total" style="font-size: 25px;">
										<strong>{{ totalCartMoney|number_format(0) }} VNĐ</strong>
									</span>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- cart mobile -->
                    <div class="cart-item cart-visible clearfix">
                        {% for p in products %}
                        {% set countPs = (products | length)? (products | length) : 0 %}
                        {% set image = p.thumbnailUri %}
                        {% set options = {
                            alt: p.name,
                            lazy: true,
                            openDiv: false,
                        } %}
                        <div class="row">
                            <div class="col-2 product_image">
                                <a href="{{ p.viewLink }}">
                                    {{ macroLazyFocusImager.LazyFocusImager(image,options) }}
                                </a>
                            </div>
                            <div class="col-8 product-info">
                                <div class="title">
                                    <a href="{{ p.viewLink }}">
                                        <strong>{{ p.name }}</strong>
                                    </a>
                                </div>
                                <div class="qty">
                                    Số lượng: <input type="number" value="{{ p.quantity }}"
                                                     class="tc item-quantity updateCart" data-id="{{ p.id }}"/>
                                </div>
                                <div class="price-text">
                                    Giá tiền:
                                    <span class="price">
                                            {% if (p.moneyDiscount) %}
                                                {% set ttsMoney = (p.price * p.quantity) - p.moneyDiscount %}
                                                {% if (countPs == 1) %}
                                                    {% set ttsMoney = (p.price * p.quantity) - serviceCart().moneyDiscount %}
                                                {% endif %}
                                                {{ ttsMoney | number_format(0) }} VNĐ
                                            {% else %}
                                                {{ (p.price * p.quantity) | number_format(0) }} VNĐ
                                            {% endif %}
                                        </span>
                                </div>
                                <div class="remove-xs">
                                    <a  data-id="{{ p.id }}" class="cart remove_cart removeCart">Xóa</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="cart-visible clearfix">
                        <div class="col-sm-6 col-12 total" style="font-size: 15px; text-transform: uppercase;">Tổng tiền</div>
                        <div class="col-sm-6 col-12 price">
							<span class="total" style="font-size: 20px;">
								<strong>{{ totalCartMoney|number_format(0) }} VNĐ</strong>
							</span>
                        </div>
                    </div>
                    <!-- end cart mobile -->
                    <div class="cart-buttons inner-right inner-left">
                        <div class="buttons clearfix text-right">
                            <button type="button" id="update-cart" class="button-default" name="update"
                                    onclick="location.href = '/'">Tiếp tục mua sắm
                            </button>
                            <button type="button" id="checkout" class="button-default"
                                    onclick="location.href = '/cart/checkout'">
                                Thanh toán
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        {% else %}
            <div id="layout-page" class="col-md-12">
                <p class="text-center">Không có sản phẩm nào trong giỏ hàng!</p>
                <p class="text-center">
                    <a href="/"><i class="fa fa-reply"></i> Tiếp tục mua hàng</a>
                </p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ templatePath ~'/js/cart.js' }}"></script>
{% endblock %}