{% extends "layout/layout" %}
{% import 'layout/breadcrumbs' as breadcrumbs %}
{% block body %}

    <!-- bread crumb -->
    {% set category = [{'label': 'Sản phẩm', 'uri':'/product'}] %}
    {{ breadcrumbs.build(category) }}
    <!-- End bread crumb -->


    <div class="container">
        <div class="row">
            <section class="link_collections margin-bottom-15 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="link_row row">
                    <div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1>Tất cả danh mục</h1>
                        </div>
                        {% set category = getCategories() %}

                        {% if(category) %}
                        {% for c in category %}
                        <ul class="ul1">
                            <li class="lv0 col-lg-3 col-md-2 hidden-xs hidden-sm">
                                <a href="/collections/hot-products">{{ c.name }}</a>
                            </li>
                        </ul>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </section>



            <!-- Filter -->
            <aside class="dqdt-sidebar sidebar  left-content col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <!-- End Filter -->
                <script>
                    var shopUrl ="https://dl-goshopping.myharavan.com";
                    var colName = "Tất cả sản phẩm";

                    var colId = 0;

                    var selectedViewData = "data";
                </script>

                <aside class="aside-item collection-category margin-bottom-15 hidden-lg hidden-md">
                    <div class="title_module_arrow">
                        <h2 class="margin-top-0"><span>Danh mục sản phẩm</span></h2>
                    </div>



                    <div class="aside-content aside-cate-link-cls">
                        <nav class="cate_padding nav-category navbar-toggleable-md">

                            <ul class="nav-ul nav navbar-pills ul_nav_collection">



                                <li class="nav-item  lv1">
                                    <a class="nav-link" href="/collections/onsale">Sản phẩm khuyến mãi</a>
                                </li>



                                <li class="nav-item  lv1">
                                    <a class="nav-link" href="/collections/hot-products">Sản phẩm nổi bật</a>
                                </li>



                                <li class="nav-item active lv1">
                                    <a class="nav-link" href="/collections/all">Tất cả sản phẩm</a>
                                </li>



                            </ul>
                        </nav>
                    </div>
                </aside>
                <div class="sortPagiBar">
                    <div class="row">
                        <div class="col-sm-6 hidden-xs">
                            <div class="view-mode hidden">
                                <a href="javascript:;" data-view="grid" >
					<span class="btn button-view-mode view-mode-grid active ">
						<i class="fa fa-th" aria-hidden="true"></i>
					</span>
                                    <span>Lưới</span>
                                </a>
                                <a href="javascript:;" data-view="list" onclick="switchView('list')">
					<span class="btn button-view-mode view-mode-list ">
						<i class="fa fa-th-list" aria-hidden="true"></i>
					</span>
                                    <span>Danh sách</span>
                                </a>
                            </div>
                        </div>
                        {% set allAttr = getAllAttributes({'categoryId':category.id}) %}

                        {% if(allAttr) %}
                            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 text-xs-left text-sm-right">
                                <div id="sort-by" class="sortpage">
                                    <label class="left hidden-xs">Sắp xếp </label>
                                    <div class="border_sort">
                                        <select name="SortBy" id="SortBy" onChange="window.location=this.options[this.selectedIndex].value">
                                            <option value="/product">Tùy chọn</option>
                                            <option value="{{ addFilter('show', 'discount', 2) }}" {{ shows[0] == 'discount' ? 'selected' : '' }}>Sản phẩm khuyến mãi</option>
                                            <option value="{{ addFilter('show', 'new', 2) }}" {{ shows[0] == 'new' ? 'selected' : '' }}>Sản phẩm mới</option>
                                            <option value="{{ addFilter('show', 'nameAsc', 2) }}" {{ shows[0] == 'nameAsc' ? 'selected' : '' }}>Theo bảng chữ cái từ A-Z</option>
                                            <option value="{{ addFilter('show', 'nameDesc', 2) }}" {{ shows[0] == 'nameDesc' ? 'selected' : '' }}>Theo bảng chữ cái từ Z-A</option>
                                            <option value="{{ addFilter('show', 'priceAsc', 2) }}" {{ shows[0] == 'priceAsc' ? 'selected' : '' }}>Giá từ thấp tới cao</option>
                                            <option value="{{ addFilter('show', 'priceDesc', 2) }}" {{ shows[0] == 'priceDesc' ? 'selected' : '' }}>Giá từ cao tới thấp</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="aside-filter filter-content">
                    <div class="filter-container">
                        <div class="filter-container__selected-filter" style="display: none;">
                            <div class="filter-container__selected-filter-header clearfix">
                                <span class="filter-container__selected-filter-header-title"><i class="fa fa-arrow-left hidden-sm-up"></i> Bạn chọn</span>
                                <a href="javascript:void(0)" onclick="clearAllFiltered()" class="filter-container__clear-all">Bỏ hết <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="filter-container__selected-filter-list">
                                <ul></ul>
                            </div>
                        </div>
                    </div>

                    <!-- Filter brand -->

                    {% include 'product/product/filterBrand' %}

                    <!-- Filter brand -->

                    <script>
                        $('.filter-group > ul li label input').click(function(){

                            let attr = $(this).attr('value');
                            window.location.href = attr;
                        });


                    </script>










                    <!-- Filter price -->

                    {% include 'product/product/filterPrice' %}

                    <!-- Filter price -->

                <script>
                    $('.filter-group > ul li label input').click(function(){

                        let attr = $(this).attr('value');
                        window.location.href = attr;
                    });
                </script>








                    <!-- Filter price -->

                    {% include 'product/product/filterColor' %}

                    <!-- Filter price -->

                    <script>
                        $('.filter-group > ul li label input').click(function(){

                            let attr = $(this).attr('value');
                            window.location.href = attr;
                        });
                    </script>


                </div>


                <aside class="aside_module orwidth f-width margin-bottom-30">
                    <div class="title_module_main">
                        <h2>
                            <a href="hot-products" title="Lựa chọn cho bạn">
                                Lựa chọn cho bạn
                            </a>
                        </h2>
                    </div>
                    <div class="wrap_module_uathich">
                        {% set proReleated = search({'limit':5, 'categoryId':product.categoryId}) %}
                        {% if(proReleated) %}
                        {% for p in proReleated %}
                        {% set image = p.thumbnailUri %}
                        {% set options = {
                            alt: p.name,
                            lazy: true,
                            class: 'imageChange swatch-'~p.id,
                            openDiv: false,
                        }%}
                        {% set priceDiscount = p.priceAfterDiscount %}
                        {% set percent = p.calcDiscountPercent %}
                        <div class="itemcount">

                            <div class="item_product_count_top minithumb">
                                <div class="product-box product-list-small visible-image">
                                    <div class="product-thumbnail">
                                        <a href="/product/detailProduct" title="Áo cộc tay cá tính dành cho bạn gái">
                                            <img data-original = "{{ image }}"
                                                 src="{{ image }}"
                                                 alt="Chưa cập nhật ảnh sản phẩm">
                                        </a>
                                    </div>

                                    <div class="product-info a-left">
                                        <h3 class="product-name"><a class="ab" href="/products/ao-coc-tay-ca-tinh-danh-cho-ban-gai" title="Áo cộc tay cá tính dành cho bạn gái">{{ p.name }}</a></h3>



                                        <div class="price-box clearfix">
                                            <span class="price product-price">{{ priceDiscount|number_format(0) }} VNĐ</span>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}


                    </div>
                </aside>
            </aside>
            <div id="open-filters" class="open-filters hidden-lg hidden-md">
			<span class="fter">
				<i class="fa fa-filter"></i>
				<span>Lọc</span>
			</span>
            </div>


            <section class="main_container collection col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="category-products products">


                    <section class="products-view products-view-grid margin-bottom-50 collection_reponsive">
                        <div class="row">
                            {% set product = paginator.currentModels %}

                            {% if(paginator.currentModels) %}

                            {% for p in paginator.currentModels %}
                            {% set image = p.thumbnailUri %}
                            {% set options = {
                                alt: p.name,
                                class: 'imageChange',
                                lazy: true,
                                openDiv: false,
                            }%}
                            {% set percent = p.calcDiscountPercent %}
                            {% set priceDiscount = p.priceAfterDiscount %}
                            {% set arrayIds = [p.id] %}
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 product-col">
                                <div class="item_product_main margin-bottom-10">
                                    <div class="product-box product-item-main product-item-compare"
                                         data-id="1017392497"
                                         data-url="/products/tour-du-lich-phu-quoc-3-ngay-2-dem"
                                         data-title="Tour du lịch phú quốc 3 ngày 2 đêm"
                                         data-vendor="Travel"
                                         data-type ="Tour du lịch">

                                        <div class="product-thumbnail">

                                            <div class="label_icon hot"><img src="//theme.hstatic.net/1000329721/1000424884/14/product-1.gif?v=22"  data-lazyload="//theme.hstatic.net/1000329721/1000424884/14/hot.png?v=22" alt="hot"></div>




                                            <a class="image_thumb" href="{{ p.viewLink }}" title="Tour du lịch phú quốc 3 ngày 2 đêm">
                                                <img data-original = "{{ image }}"
                                                     src="{{ image }}"
                                                     alt="Chưa cập nhật ảnh sản phẩm">
                                            </a>
                                            <div class="product-action clearfix ">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-1017392497" enctype="multipart/form-data">
                                                    <div class="group_action hvr-buzz-out">

                                                        <input type="hidden" name="Id" value="1033569874" />
                                                        <input type="hidden" name="quantity" value="1" />
                                                        <a class="btn-buy btn-cart button_35 left-to muangay add_to_cart" title="Cho vào giỏ hàng">
                                                            <i class="fa fa-shopping-basket"></i>
                                                        </a>


                                                        <a href="/products/tour-du-lich-phu-quoc-3-ngay-2-dem" data-handle="tour-du-lich-phu-quoc-3-ngay-2-dem" title="Xem nhanh" class="button_35 btn_view right-to quick-view"><i class="fa fa-search-plus"></i></a>


                                                        <a class="button_35 compare_button hidden" title="So sánh sản phẩm">
                                                            <i class="fa fa-recycle"></i>
                                                        </a>

                                                    </div>
                                                </form>
                                            </div>


                                        </div>
                                        <div class="product-info product-bottom">
                                            <h3 class="product-name"><a href="/products/tour-du-lich-phu-quoc-3-ngay-2-dem" title="Tour du lịch phú quốc 3 ngày 2 đêm">{{ p.name }}</a></h3>
                                            <div class="product-item-price price-box">


                                                <span class="special-price">
                                                    <span class="price product-price">{{ p.price|number_format(0) }} VNĐ</span>
                                                </span>


                                            </div>

                                            <div class="reviews_item_product">
                                                <div class="bizweb-product-reviews-badge" data-id="1017392497"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                                <p>Không có kết quả nào phù hợp </p>
                            {% else %}
                            {% endif %}


                        </div>


                        <div class="pagination">
                            <div class="links">
                                {{paginationControl(paginator, 'Sliding', 'partial/listPage') }}
                            </div>
                        </div>

                    </section>

                    <script>
                        var cuPage = 1
                    </script>

                </div>
            </section>


        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ templatePath ~'/js/category.js' }}"></script>
{% endblock %}