{% macro build(breadcrumbs) %}
    {% set setUlClass = 'list-inline col-md-12 breadcrumView' | raw %}
    {% if(setUlClass) %}
        {% set setUlClass = setUlClass %}
    {% endif %}
    {% set breadcrumb = null %}
    {% if(breadcrumbs) %}
        {% set breadcrumb = breadcrumbs %}
    {% endif %}
    <ul class="{{ setUlClass | raw }}" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/" itemprop="item">
                <span itemprop="name">Trang chủ</span>
            </a>
            <meta itemprop="position" content="1"/>
        </li>
        {% if(breadcrumb) %}
            {% set k = 1 %}
            {% for br in breadcrumb %}
                {% set uri = (br['uri'])?br['uri']:'' %}
                {% set name = (br['label'])?br['label']:'' %}
                {% set class = (br['class'])?br['class']:'' %}
                {% set rel = (br['rel'])?br['rel']:'' %}
                <li class="{{ class }}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="{{ uri }}" itemprop="item" {{ rel }}>
                        <span itemprop="name">{{ name }}</span>
                    </a>
                    <meta itemprop="position" content="{{ k }}"/>
                </li>
                {% set k = k + 1 %}
            {% endfor %}
        {% endif %}
    </ul>
{% endmacro %}