<!DOCTYPE html>
<html lang="vi-VN" data-nhanh.vn-template="{{ templateDir }}">
<head>
    {% block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
    <meta charset="utf-8">

{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ '/tpl/'~ templateDir ~'/css/lib/bootstrap.min.css' }}" type="text/css">

    {% block stylesheets %}{% endblock %}

    {% set styleSheet = [
        '/css/owlCarousel/owl.carousel.min.2.3.4.css',
        '/css/fontAwesome/font-awesome-5.12.0.min.css',
        '/tpl/'~ templateDir ~'/css/childs/header.css',
        '/tpl/'~ templateDir ~'/css/childs/banner.css',
        '/tpl/'~ templateDir ~'/css/childs/style.css',
        '/tpl/'~ templateDir ~'/css/childs/catePro.css',
        '/tpl/'~ templateDir ~'/css/childs/menu.css',
        '/tpl/'~ templateDir ~'/css/lib/all.min.css',
        '/tpl/'~ templateDir ~'/css/responsive.css',
        '/tpl/'~ templateDir ~'/css/animate.css',
        '/tpl/'~ templateDir ~'/css/childs/index.css',
        '/tpl/'~ templateDir ~'/css/sm-core-css.css',
        '/tpl/'~ templateDir ~'/css/sm-simple.css'
    ]%}

    <link rel="stylesheet" href="{{ srcLink(styleSheet,8) }}" type="text/css">


</head>

<body>
    <input type="hidden" id="storeId" value="{{ getStoreId() }}">
    {% block iheader %}
        {% include 'layout/header' %}
    {% endblock %}

    {% block body %}{% endblock %}

    {% include 'layout/footer' %}

    {#fix footer mobile#}
    {% block fixfoot %}{% endblock %}

    {% block script %}{% endblock %}

    <a id="fbtn-facebook" class="float-button" href="https://www.facebook.com/bencomputers/" style="position: fixed; z-index: 10;"></a>
    <a id="fbtn-youtube" class="float-button" href="https://www.youtube.com/channel/UCf2K9QKCPPfSC3GtnNrMZIQ" style="position: fixed; z-index: 10;"></a>
    <a id="fbtn-call" class="float-button" href="tel:0899179991" style="position: fixed; z-index: 10;"></a>
    <a id="fbtn-mail" class="float-button" href="mailto:benhotrokythuat@ben.com.vn" style="position: fixed; z-index: 10; bottom: 330px"></a>
    <a id="fbtn-xdch" class="float-button" href="/xay-dung-cau-hinh" style="position: fixed; z-index: 10; bottom: 280px"></a>
    <a id="fbtn-chat" class="float-button" href="https://www.messenger.com/t/bencomputers" style="position: fixed; z-index: 10; bottom: 235px"></a>
    <a id="scrollUp" href="#top" style="display: none; position: fixed; z-index: 15;"></a>

    {% set script = [
        '/js/jquery/jquery.min.js',
        '/js/jquery/fancybox-2.1.5/source/jquery.fancybox.js',
        '/js/lib.js',
        '/tpl/'~ templateDir ~'/js/responsive.js',
        '/tpl/'~ templateDir ~'/js/jquery.smartmenus.js',
    ] %}

    <script type="text/javascript" src="{{ srcLink(script,98) }}"></script>

    <script src="{{ '/js/owlCarousel/owl.carousel.min.2.3.4.js' }}"></script>
    <script type="text/javascript" src="{{ '/js/elevatezoom/elevatezoom.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/js/jquery/jquery.validationEngine-vi.js' }}"></script>
    <script type="text/javascript" src="{{ '/js/jquery/jquery.validationEngine.js' }}"></script>
    <script type="text/javascript" src="{{ '/js/jquery/jquery.number.min.js' }}"></script>

</body>
</html>