{% extends 'layout/layout' %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}

{% block meta %}
  {{ headTitle(category.name).setSeparator(' - ').setAutoEscape(false)|raw }}
  <meta property="og:title" content="{{ category.name }}">
  <meta property="og:url" content="{{ category.viewLink }}">
  <meta property="og:image" content="{{ 'https:'~category.imgUri }}">
  <meta property="og:type" content="category">
{% endblock %}
{% block body %}

{% set nItems = 0 %}
    {% if(paginator is not empty) %}
        {% set isPaginator = true %}
        {% set nItems = paginator.pages.totalItemCount %}
    {% else %}
        {% set nItems = paginator|length %}
    {% endif %}
  <main>

    <!-- banner products  -->
    <section class="banner-products">
      <div class="slug">
        <div class="container">
          <div class="slug-container">
            <span><a href="/">Trang chủ</a> / {{ category.name | raw}}</span>
          </div>
        </div>
      </div>
      {% set banner_product = getBannerByPositionCode('BANNER_PRODUCT') %}
      {% if (banner_product is not empty) %}
        {% set image = banner_product.imagesrc %}
        {% set options = {
          alt: banner_product.name,
          lazy: true,
          openDiv: false
        } %}
        <div class="container">
          <div class="bg-img">
            <a href="javascript:void(0)">
              {{ macroLazyFocusImager.LazyFocusImager(image,options) }}
            </a>
          </div>
        </div>
        {% else %}
          <div class="container">
            <div class="bg-img">
              <a href="javascript:void(0)">
                <img src="/tpl/V0509/img/temp/cat-banner-1.jpg" class="img-fluid" alt="Banner Product">
              </a>
            </div>
          </div>  
        </div>
      {% endif %}
    </section>
    <!-- banner products -->

    <!-- products main -->
    <section class="products-main">
      <div class="container">
        <div class="row">

          {% include "layout/sidebar" %}
          <div class="col-md-12 col-lg-9 offset-3 pd-20 filter-body" id="js-filter-body">
            <h4 class="text-center font-weight-bold text-secondary js-show-sidebar dp-none">Hiện thị bộ lọc</h4>
            <div class="heading-and-sort">
              <span class="text-secondary">Bạn đang xem: {{ category.name | raw}}</span>
              <div class="sort-menu">
                <div class="dropdown">
                  <div class="select">
                    <span>Sắp sếp</span>
                    <i class="icon-arrow"></i>
                  </div>
                  <ul class="dropdown-menu">
                    {% if 'priceAsc' in shows %}
                      <li class="sort-active">
                        <a rel="noindex"
                           title="{{ removeFilter('show', 'priceAsc') }}"
                           class="active"> Giá tăng dần</a>
                      </li>
                    {% else %}
                      <li class="sort-active">
                        <a rel="noindex"
                             title="{{ addFilter('show', 'priceAsc', 2) }}"
                        >Giá tăng dần</a></li>
                    {% endif %}

                    {% if 'priceDesc' in shows %}
                      <li class="sort-active">
                        <a rel="noindex"
                           title="{{ addFilter('show', 'priceDesc', 2) }}">
                          Giá giảm dần
                        </a>
                      </li>
                    {% else %}
                      <li class="sort-active">
                        <a rel="noindex"
                             title="{{ addFilter('show', 'priceDesc', 2) }}">
                          Giá giảm dần
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="row filter-body">
              {% if(paginator.currentModels is not empty) %}
                {% for p in paginator.currentModels %}
                  {% set image = p.thumbnailUri %}
                  {% set options = {
                    alt: p.name,
                    class: 'img is-full',
                    lazy: true,
                    openDiv: false,
                  } %}
                  {% set percent = p.calcDiscountPercent %}
                  {% set priceDiscount = p.priceAfterDiscount %}
                  {% set arrayIds = [p.id] %}
                  <div class="col-6 col-sm-6 col-md-4">
                    <div class="card">
                      <div class="card-thumb">
                        <a href="{{ p.viewLink }}">
                          {{ macroLazyFocusImager.LazyFocusImager(image,options) }}
                        </a>
                      </div>
                      <div class="card-body">
                        {% if(p.options.psGifts.name != null) %}
                          <label class="card-free">{{ pro.options.psGifts.name }}</label>
                        {% endif %}
                        <a href="{{ p.viewLink }}">
                          <span class="card-title">{{ pro.brandName }}</span>
                        </a>
                        <span class="card-name">{{ p.name | raw }}</span>
                        <span class="card-price">{{ p.price | number_format(0) }}VNĐ
                        {% if(p.priceAfterDiscount > 0) %}
                          <strike>{{ p.priceAfterDiscount | number_format(0) }}</strike>
                          {% elseif (p.oldPrice > 0) %}
                          <strike>{{ p.oldPrice | number_format(0) }}</strike>
                        {% endif %}
                          {% if(p.discountPercent > 0) %}
                            <span class="percent">{{ p.discountPercent }} %</span>
                          {% endif %}
                </span>
                        <div class="box-button">
                          {% set values = p.options.attrValues %}
                          {% if(values) %}
                            {% set count = 0 %}
                            {% for button_color in values  %}
                            {% set count = count + 1 %}
                              {% if count <= 4 %}
                                {% set color = button_color.options.attrContent %}
                                <button class="card-button">
                                  <span style="background-color: #{{color}}" data-src="{{ button_color.thumbnailUri }}"></span>
                                </button>
                              {% endif %}
                            {% endfor %}
                            {% if count > 4 %}
                              <a href="{{ p.viewLink }}" class="button-add card-button__add"></a>
                            {% endif %}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                {% else %}
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <img src="/tpl/V0509/img/temp/icons-search.png"
                         alt="Không tìm thấy yêu cầu của bạn"
                         class="img-notFound"
                    >
                    <h1 class="font-italic text-danger text-center">Xin lỗi ! Yêu cầu của bạn chúng tôi không tìm thấy !</h1>
                  </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="pagination justify-content-center pagination-pd">
        <div class="links">
            {{ render_paginator(paginator) }}
        </div>
      </div>
    </section>
    <!-- products main -->

    <!-- slider favorite-backpack -->
    <section class="favorite-backpack pt-20rem ">
      <div class="container">
        <h5 class="title">
          <a href="/product?show=new">
            <strong>TOP SẢN PHẨM BÁN CHẠY</strong>
          </a>
        </h5>
        <div class="favorite-backpack-body">
          <div class="slick favorite-backpack-slick">
            {% set productBestseller_New = search({'limit': 6, 'brands':true, 'showNew': 1 }) %}
            {% if(productBestseller_New is not empty) %}
              {% for pro in productBestseller_New %}
                {% set image = pro.thumbnailUri %}
                {% set options_lazy = {
                  alt: pro.name,
                  class: 'img is-full',
                  lazy: true,
                  openDiv: false
                } %}
                {% set percent = p.discountPercent %}
                {% set priceDiscount = p.priceAfterDiscount %}
                <div class="slick-item" data-id="{{ pro.id }}" data-storeId="{{ pro.storeId }}">
                  <div class="card">
                    <div class="card-thumb">
                      {% if(pag.options.psGifts) %}
                        <style>
                          .card-thumb::before {
                            background-image: url('/tpl/V0509/img/gif/gift.jpg');
                          }
                        </style>
                      {% endif %}
                      <a href="{{ pro.viewLink }}">
                        {{ macroLazyFocusImager.LazyFocusImager(image,options_lazy) }}
                      </a>
                    </div>
                    <div class="card-body">
                      {% if(pro.options.psGifts.name != null) %}
                        <label class="card-free">{{ pro.options.psGifts.name }}</label>
                      {% endif %}
                      <a href="{{ pro.viewLink }}">
                        <span class="card-title">{{ pro.brandName }}</span>
                      </a>
                      <span class="card-name">{{ pro.name }}</span>
                      <span class="card-price">{{ pro.price | number_format(0) }}VNĐ
                        {% if(pro.priceAfterDiscount > 0) %}
                          <strike>{{ pro.priceAfterDiscount | number_format(0) }}</strike>
                          {% elseif (pro.oldPrice > 0) %}
                          <strike>{{ pro.oldPrice | number_format(0) }}</strike>
                        {% endif %}
                        {% if(pro.discountPercent > 0) %}
                          <span class="percent">{{ pro.discountPercent }} %</span>
                        {% endif %}
                </span>
                      <div class="box-button">
                          {% set values = pro.options.attrValues %}
                          {% if(values) %}
                            {% set count = 0 %}
                            {% for button_color in values  %}
                            {% set count = count + 1 %}
                              {% if count <= 4 %}
                                {% set color = button_color.options.attrContent %}
                                <button class="card-button">
                                  <span style="background-color: #{{color}}" data-src="{{ button_color.thumbnailUri }}"></span>
                                </button>
                              {% endif %}
                            {% endfor %}
                            {% if count > 4 %}
                              <a href="{{ pro.viewLink }}" class="button-add card-button__add"></a>
                            {% endif %}
                          {% endif %}
                        </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    <!-- slider favorite-backpack -->
    <hr>
    <!-- services -->
    {% include 'layout/services' %}
    <!-- services -->
  </main>

{% endblock %}

{% block script %}
  <script type="text/javascript" src="{{ templatePath ~'/js/slick.js' }}"></script>
  <script type="text/javascript" src="{{ templatePath ~'/js/slider.js' }}"></script>
  <script type="text/javascript" src="{{ templatePath ~'/js/loadView.js' }}"></script>
{% endblock %}