{% extends "layout/layout" %}
{% block title %}
    {% set tail = 'Suplo Baby - Hệ thống của hàng' %}
    {{ headTitle('Taì khoản').setSeparator(' - ').setAutoEscape(false)|raw }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ '/css/validationEngine.jquery.css' }}" type="text/css">
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ '/cdn/_cache/location.vn.js' }}"></script>
{#    <script type="text/javascript" src="{{ '/js/lib.js' }}"></script>#}
    <script type="text/javascript" src="{{ '/js/jquery/jquery.validationEngine-vi.js' }}"></script>
    <script type="text/javascript" src="{{ '/js/jquery/jquery.validationEngine.js' }}"></script>
    <script type="text/javascript" src="{{ '/tpl/' ~ templateDir ~ '/js/user.js' }}"></script>
{% endblock %}
{% block body %}
    <main class="wrapper main-content  custom_page ">
        <!-- /templates/customers[addresses]s.liquid -->
        <header class="section-header">
            <h1 class="section-header__left">Tài khoản của bạn</h1>
        </header>
        <hr class="hr--small">
        <div class="grid">
            <div class="grid__item one-third medium-down--one-whole">
                <p><a href="/profile">Trở về tài khoản</a></p>
            </div>
            <div class="grid__item two-thirds medium-down--one-whole">
                <form action="" method="post" id="">
                    <input name="form_type" type="hidden" value="customer_address">
                    <input name="utf8" type="hidden" value="✓">
                    <div id="form_edit" class="form-vertical">
                        <h4>Sửa thông tin</h4>
                        <div class="grid">
                            <div class="grid__item">
                                <label for="AddressFullName_1053265432">Họ và tên</label>
                                <input type="text" id="fullName" class="input-full validate[required,minSize[4],maxSize[32]]" name="fullName" value="{{ getUser().fullName }}" autocapitalize="words">
                            </div>
                        </div>

                        <label for="AddressAddress1_1053265432">Địa chỉ</label>
                        <input type="text" id="address" class="input-full validate[required]" name="address" value="{{ getUser().address }}" autocapitalize="words">

                        <div class="grid">
                            <div class="grid__item one-half small--one-whole">
                                <label for="AddressCity_1053265432">Thành phố</label>
                                <select name='cityId' id='idCity' class=" form-control">
                                    <option value="">Chọn Tỉnh/ Thành phố</option>
                                    {% for city in cities %}
                                        <option {{ ((city.id) == user.cityLocationId) ?'selected="selected"' : '' }} value='{{ city.id }}'>{{ city.nativeName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="grid__item one-half small--one-whole">
                                <label for="AddressCity_1053265432">Quận Huyện</label>
                                <select name='districtId' id='idDistrict' class=" form-control">
                                    <option value="">Chọn Quận/ Huyện</option>
                                    {% for dt in districts %}
                                        <option {{ (dt.id == user.districtLocationId) ? 'selected="selected"' : '' }} value='{{ dt.id }}'>{{ dt.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <label for="AddressPhone_1053265432">Điện thoại</label>
                        <input type="tel" id="mobile" class="input-full validate[required,custom[phone]]" name="mobile" value="{{ getUser().mobile }}">

                        <p><input type="submit" class="btn" value="Cập nhật"></p>
                        <p><a style="cursor:pointer;" onclick="window.location.href='/profile'">Bỏ qua</a></p>

                        <hr>
                    </div>
                </form>
            </div>
        </div>

        <script>
            function edit() {
                $('#form_edit').toggle(300);
            }

            function add() {
                $('#form_add').toggle(300);
            }
        </script>
    </main>
{% endblock %}