{% extends "layout/layout" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ '/css/validationEngine.jquery.css' }}" type="text/css">
{% endblock %}

{% block body %}
    <section class="content container ">
        <div class="row">
            <div class="all-ms">
                <div class="breadcrumb breadcrumbs">
                    <div class="rdfa-breadcrumb">
                        <div>
                            <p><span class="breadcrumbs-title">
                            </span>
                                <span>
                                <a href="/" class="home">{{ translate('Trang chủ') }}</a>
                            </span>
                                <span class='separator'>|</span>{{ translate('Đổi mật khẩu') }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div id='profile-page'>
                        <h3 class="titleProfile tp_title">{{ translate('Đổi mật khẩu tài khoản cá nhân') }}</h3>
                        <p>{{ message|raw }} </p>
                        {{ partial('partial/form',{'form':form}) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="profile-nav">
                        <h3 class="titleProfile">{{ translate('Quản lý cá nhân') }}</h3>
                        <ul class='profile-menu' style="list-style-type: disc">
                            <li><a href='/profile'>Trang thông tin cá nhân</a></li>
                            <li><a href='/profile/edit'>Trang sửa thông tin cá nhân</a></li>
                            <li><a href='/profile/changepassword' class='actived'>Trang đổi mật khẩu tài khoản</a></li>
                            <li><a href='/order/index'>Trang quản lý đơn hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
ơ{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ '/js/jquery/jquery.validationEngine-vi.js' }}"></script>
    <script type="text/javascript" src="{{ '/js/jquery/jquery.validationEngine.js' }}"></script>
    <script type="text/javascript" src="{{ '/tpl/'~ templateDir ~'/js/user.js' }}"></script>
{% endblock %}