{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% set hotProducts = search({'limit':4,'showHome':1}) %}
{% if(hotProducts) %}
    <div class="row right_side_news_pros">
        {% for p in hotProducts %}
            {% set image = p.thumbnailUri %}
            {% set percent = p.discountPercent %}
            {% set priceDiscount = p.priceAfterDiscount %}
            {% set options = {
                alt: p.name,
                class: 'img_thumb_product',
                lazy: true,
                openDiv: false,
            } %}
            <div class="col-md-6 col-12">
                <div class="product_box" data-id="{{ p.id }}">
                    <div class="box_image">
                        <a class="a-image" href="{{ p.viewLink }}">
                            {{ macroLazyFocusImager.LazyFocusImager(image,options) }}
                        </a>
                    </div>
                    <div class="box_info">
                        <div class="box_text">
                            <a class="tp_product_name">{{ p.name }}</a>
                        </div>
                        <div class="box_price">
                            {% if(priceDiscount > 0) %}
                                <span class="tp_product_price">{{ priceDiscount|number_format(0) }} ₫ </span>
                                <del class="tp_product_price_old">{{ p.price|number_format(0) }}
                                    ₫
                                </del>
                            {% elseif(p.oldPrice) %}
                                <span class="tp_product_price">{{ p.price|number_format(0) }}₫ </span>
                                <del class="tp_product_price_old">{{ p.oldPrice|number_format(0) }}
                                    ₫
                                </del>
                            {% elseif(p.price <= 0 ) %}
                                <span class="tp_product_price">Liên hệ</span>
                            {% else %}
                                <span class="tp_product_price">{{ p.price|number_format(0) }} ₫ </span>
                            {% endif %}
                            {% if(percent>0) %}
                                <span class="percent">
                            -{{ percent }}%
                        </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="box_action">
                        <div><a class="quickView" href="javascript:void(0)">Xem nhanh</a></div>
                        <div><a href="javascript:void(0)">Mua ngay</a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}