{% extends "layout/layout" %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% block meta %}
    {{ headTitle('Tin tức').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta property="og:title" content="Tin tức">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
{% endblock %}
{% block body %}
<main>

    <div class="text-center title-page-news">Tin Tức</div>
    <div class="all-block-news-items">
        <div class="container">
            <div class="row"><!-- row -->
                {% if(paginator.currentModels is not empty) %}
                    {% for n in paginator.currentModels %}
                        {% set image = n.pictureUri %}
                        {% set options = {
                            alt: n.title | e('html'),
                            lazy: true,
                            class:'card-img-top',
                            openDiv: false,
                        }%}
                <div class="card col-12 col-sm-12 col-md-12 col-lg-3" style="width: 18rem;"> <!-- card -->
                    <div class="img-hover-news">
                        <a href="{{ n.viewLink }}">
                            {{ macroLazyFocusImager.LazyFocusImager(image,options) }}
                            <div class="layer-hover-img"></div>
                        </a>
                    </div>
                    <a href="{{ nPostItem.viewLink }}">
                        <div class="card-body">
                            <div class="triangle-news"></div>
                            <h5 class="card-title">{{ subString(n.title, 37) }}</h5>
                            <p class="card-text">{{ n.intro(true) | raw }}</p>
                        </div>
                    </a>
                </div><!-- end card -->
                {% endfor %}
            {% endif %}
            </div> <!-- end row -->
        </div>
    </div>

    <div id="pagination" class="clearfix">
        {{ render_paginator(paginator) }}
    </div>
</main>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ '/js/jquery/jquery.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/js/lib.js' }}"></script>
    <script type="text/javascript" src="{{ templatePath ~'/js/category.js' }}"></script>
{% endblock %}