{% extends "layout/layout" %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% block meta %}
    {{ headTitle(news.title | e('html')).setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="keywords" content="{{ news.metaKeywords ?: news.title | e('html') }}">
    <meta name="description" content="{{ (news.metaDescription ?: news.title | e('html')) }}">
    <meta property="og:title" content="{{ news.title | e('html') }}">
    <meta property="og:url" content="{{ news.viewLink }}">
    <meta property="og:image" content="{{ 'https:'~news.pictureUri }}">
    <meta property="og:type" content="category">
{% endblock %}
{% block body %}
<main class="page-view-css-news mt-5">
   <div class="container">
       <h1 class="title-post-news">{{ news.title|raw }}</h1>
       <div class="content-post-news">
           {{ news.content|raw }}
       </div>
   </div>
</main>
{% endblock %}