<footer>
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="footer-column dq-toggle">
                        <h4>Chính sách <i class="fa fa-angle-down f-right"></i></h4>
                        <ul class="links">
                            <li>
                                <a href="/">Chính sách đổi trả</a>
                            </li>
                            <li>
                                <a href="/">Chính sách vận chuyển</a>
                            </li>
                            <li>
                                <a href="/">Chính sách bảo hành</a>
                            </li>
                            <li>
                                <a href="/">Chính sách mua hàng</a>
                            </li>
                            <li>
                                <a href="/">Chính sách trả góp</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="footer-column dq-toggle">
                        <h4>Kênh bán hàng <i class="fa fa-angle-down f-right"></i></h4>
                        <ul class="links">
                            <li><a href="/">Sendo</a></li>
                            <li><a href="/">Zalo</a></li>
                            <li><a href="/">Tiki</a></li>
                            <li><a href="/">Shopee</a></li>
                            <li><a href="/">Lazada</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="footer-column dq-toggle">
                        <h4>Về chúng tôi <i class="fa fa-angle-down f-right"></i></h4>
                        <ul class="links">
                            <li><a href="/">Trang chủ</a></li>
                            <li><a href="/collections/all">Sản phẩm</a></li>
                            <li><a href="/tin-tuc">Tin tức</a></li>
                            <li><a href="/gioi-thieu">Giới thiệu</a></li>
                            <li><a href="/lien-he">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 col-xs-12">
                    <div class="footer-column-last vbline">
                        <h4>Liên hệ</h4>

                        <address>
                            <img class="mg_r_2" src="{{ '/tpl/'~ templateDir ~'/imgs/on-maps.png' }}">
                            <span>442 Đội Cấn - Ba Đình - Hà Nội </span>
                        </address>
                        <div class="phone-footer">
                            <img class="mg_r_2" src="{{ '/tpl/'~ templateDir ~'/imgs/old-phone.png' }}">
                            <a href="tel:(04)66742332">(04) 6674 2332</a>
                        </div>
                        <div class="email-footer">
                            <img class="mg_r_2" src="{{ '/tpl/'~ templateDir ~'/imgs/email-envelope.png' }}">
                            <a href="mailto:support@nhanh.vn">support@nhanh.vn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-mid">
            <div class="container">
                <div class="footer-column-1">
                    <div class="footer-logo">
                        <a href="/" title="Mew Furniture">
                            <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/logo.png' }}">
                        </a>
                    </div>
                    <p>Công ty Cổ phần Đầu tư MewMew là nhà bán lẻ số 1 Việt Nam về doanh thu và lợi nhuận, với mạng lưới hơn 2200 cửa hàng trên toàn quốc. MewMew vận hành các chuỗi cửa hàng - nhà hàng MewFurniture, MewNature, MewINT , MewCoffee . Ngoài ra, MewMew đã mở rộng ra thị trường nước ngoài chuỗi nội thất Mew Furniture tại Các nước khu vực Đông Nam Á. </p>
                </div>

                <div class="footer-column-1">
                    <div class="social">
                        <div class="onut">
                            <a href="#" class="facebook">
                                <img src="{{ '/tpl/'~ templateDir ~'/imgs/facebook.png' }}">
                            </a>
                            <a href="#" class="twitter">
                                <img src="{{ '/tpl/'~ templateDir ~'/imgs/twitter.png' }}">
                            </a>
                            <a href="#" class="instagram">
                                <img src="{{ '/tpl/'~ templateDir ~'/imgs/instagram.png' }}">
                            </a>
                            <a href="#" class="youtube">
                                <img src="{{ '/tpl/'~ templateDir ~'/imgs/youtube.png' }}">
                            </a>
                        </div>
                    </div>
                    <div class="payment-accept">
                        <div>
                            <img class="first lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/payment-1.png' }}">

                            <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/payment-2.png' }}">

                            <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/payment-3.png' }}">

                            <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/payment-4.png' }}">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="coppyright">Bản quyền thuộc về <a href="#">MewTheme</a>.
                    <span class="opacity1">
                        Cung cấp bởi<a href="#"> Nhanh.vn</a>
					</span>
                </div>
            </div>
        </div>
    </div>
    <input type="text" class="input-text number-sidebar hidden">
</footer>