{% extends "layout/layout" %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% block meta %}
    {{ headTitle('Trang khuyến mãi').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta property="og:title" content="Trang khuyến mãi">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
{% endblock %}
{% block body %}
    <section class="content container ">
        <div class="all-ms">
            <div class="row-fluid">
                <div class="home-page">
                    <h3><span>{{ translate('Khuyến mại') }}</span></h3>
                    {% if(promotions) %}
                        <div class="list-sps">
                            <div class="row">
                                {% for p in promotions %}
                                    {% set image = p.thumbnailUri %}
                                    {% set options = {
                                        alt: p.name,
                                        class: 'wp-post-image',
                                        lazy: true,
                                        openDiv: false,
                                    } %}
                                    <ul class="col-6 col-sm-4 col-md-4 col-lg-3 box-product box_tab_index prdWrapper">
                                        <li class="item promotion_item">
                                            <a href="{{ p.viewLink }}" class="a-image">
                                                {#{{ macroLazyFocusImager.LazyFocusImager(image,options) }}#}
                                                <img src="https://bucket.nhanh.vn/store/3138/pm/ps_1595503647_890.jpg">
                                            </a>
                                            <div class="box-text">
                                                <p class="title">
                                                    <a href="{{ p.viewLink }}" title="{{ p.name }}">
                                                        {{ p.name }}
                                                    </a>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
