<div class="hidden-md hidden-lg opacity_menu"></div>
<div class="opacity_filter"></div>
<div class="body_opactiy"></div>


<!-- Header JS -->


<!-- Main content -->
<header class="header topbar_ect">
    <div class="topbar">
        <div class="container">
            <div class="menu-bar button-menu hidden-md hidden-lg">
                <a href="javascript:;" >
                    <i class="fa fa-align-justify"></i>
                </a>
            </div>
            <div>
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-lg-8 col-md-7 a-left">
                        <div class="logo a-center">

                            <a href="/" class="logo-wrapper ">
                                <img src="//theme.hstatic.net/1000329721/1000424884/14/logo.png?v=22" alt="logo dl_goshopping">
                            </a>

                        </div>

                        <div class="search_topbox">
                            <div class="search-box">
                                <div class="header_search search_form search-auto">
                                    <form class="input-group search-bar search_form" id="searchform" action="/search" method="get" role="search">
                                        <input name="q" id="text" type="text" value="" placeholder="Tìm kiếm.. " class="auto-search-tdq input-group-field st-default-search-input search-text" autocomplete="off">

                                        <span class="input-group-btn">
                                                <button class="btn icon-fallback-text" value="Tìm kiếm" type="submit">
                                                    Tìm kiếm
                                                </button>
                                            </span>
                                    </form>

                                    <div id='search_suggestion'>
                                        <div id='search_top'>
                                            <div id="product_results"></div>
                                            <div id="article_results"></div>
                                        </div>
                                        <div id='search_bottom'>
                                            <a class='show_more' href='#'>Hiển thị tất cả kết quả cho "<span></span>"</a>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <ul class="keysearch">



                                <li><a href="/search?query=túi%20xách">túi xách</a></li>



                                <li><a href="/search?query=đồng%20hồ">đồng hồ</a></li>



                                <li><a href="/search?query=giày">giày</a></li>



                                <li><a href="/search?query=du%20lịch">du lịch</a></li>



                                <li><a href="/search?query=ốp%20lưng">ốp lưng</a></li>

                            </ul>
                        </div>


                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-5 col-lg-4 hidden-sm hidden-xs">
                        <ul class="list-inline iconlog f-right">
                            <li class="use">

                                <img src="//theme.hstatic.net/1000329721/1000424884/14/product-1.gif?v=22" data-lazyload="//theme.hstatic.net/1000329721/1000424884/14/user.png?v=22" alt="Tạo tài khoản hoặc đăng nhập">

                            </li>
                            {% if(hasIdentity()) %}
                                <li>
                                    <a href="/profile">{{ getUser().fullName? getUser().fullName: 'Tài khoản' }}</a>
                                </li>
                                <li>
                                    <a href="/user/signout">Thoát</a>
                                </li>
                            {% else %}
                                <li ><a href="/user/signin">Đăng nhập</a></li>
                                <li ><a href="/user/signup">Đăng ký</a></li>
                            {% endif %}
                        </ul>
                        <a href="tel:0912117494" class="support_service hidden-sm hidden-xs">
                            <img class="hvr-buzz-out" src="//theme.hstatic.net/1000329721/1000424884/14/product-1.gif?v=22" data-lazyload="//theme.hstatic.net/1000329721/1000424884/14/customer_service.png?v=22" alt="hỗ trợ"/>
                            <span>Tư vấn & hỗ trợ</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<div class="main-nav mrbottom">
    <div class="container nav-head">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <nav class="hidden-sm hidden-xs nav-main">
                    <div class="menu_hed head_1">
                        <ul class="nav nav_1">
                            {% set category = getCategories() %}

                            {% if(category) %}
                                {% for c in category %}

                                    <li class="menu_hover nav-item nav-items   has-mega">
                                        {% if(c.name == 'Sản phẩm') %}
                                        <a href="product" class="nav-link ">
                                            {% else %}
                                            <a href="{{ c.viewLink }}" class="nav-link ">
                                                {% endif %}
                                                {{ c.name }}

                                                {% if(childs) %}<i class="fa fa-caret-down" data-toggle="dropdown"></i>{% endif %}
                                                <span class="label_"></span>
                                            </a>
                                        </a>

                                        {% if(c.childs) %}
                                            <div class="mega-content hidden-md">
                                                <div class="level0-wrapper2">
                                                    <div class="nav-width nav-block nav-block-center">
                                                        <div class="col-lg-12 col-md-12 parent-mega-menu">
                                                            <ul class="level0 row">

                                                                {% for c1 in c.childs %}
                                                                    <li class="level1 parent item3 col-lg-3 col-md-3">

                                                                        <ul class="level2">
                                                                            <li class="level2 parent item"> <a href="{{ c1.viewLink }}"><span>{{ c1.name }}</span></a></li>

                                                                        </ul>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>



                                                    </div>

                                                </div>
                                            </div>
                                        {% endif %}


                                        <ul class="dropdown-menu border-box hidden-lg hidden-sm hidden-xs">


                                            <li class="dropdown-submenu nav-items nav-item-lv2">
                                                <a class="nav-link" href="/products/">Mobile & Tablet </a>
                                                <i class="fa fa-caret-right" data-toggle="dropdown"></i>
                                                <ul class="dropdown-menu border-box">

                                                    <li class="nav-item-lv3">
                                                        <a class="nav-link" href="/collections/all">Điện Thoại</a>
                                                    </li>

                                                    <li class="nav-item-lv3">
                                                        <a class="nav-link" href="/collections/all">Laptop & PC</a>
                                                    </li>

                                                    <li class="nav-item-lv3">
                                                        <a class="nav-link" href="/collections/all">Tablet</a>
                                                    </li>

                                                </ul>
                                            </li>



                                            <li class="dropdown-submenu nav-items nav-item-lv2">
                                                <a class="nav-link" href="/products/">Kỹ thuật số </a>
                                                <i class="fa fa-caret-right" data-toggle="dropdown"></i>
                                                <ul class="dropdown-menu border-box">

                                                    <li class="nav-item-lv3">
                                                        <a class="nav-link" href="/">Smart TV</a>
                                                    </li>

                                                    <li class="nav-item-lv3">
                                                        <a class="nav-link" href="/">TV thông minh</a>
                                                    </li>

                                                    <li class="nav-item-lv3">
                                                        <a class="nav-link" href="/">âm thanh</a>
                                                    </li>

                                                </ul>
                                            </li>



                                            <li class="dropdown-submenu nav-items nav-item-lv2">
                                                <a class="nav-link" href="/products/">Điện máy </a>
                                                <i class="fa fa-caret-right" data-toggle="dropdown"></i>
                                                <ul class="dropdown-menu border-box">

                                                    <li class="nav-item-lv3">
                                                        <a class="nav-link" href="/">Điều hòa</a>
                                                    </li>

                                                    <li class="nav-item-lv3">
                                                        <a class="nav-link" href="/">Tủ Lạnh</a>
                                                    </li>

                                                    <li class="nav-item-lv3">
                                                        <a class="nav-link" href="/">Máy giặt</a>
                                                    </li>

                                                </ul>
                                            </li>



                                            <li class="dropdown-submenu nav-items nav-item-lv2">
                                                <a class="nav-link" href="/products/">Gia dụng </a>
                                                <i class="fa fa-caret-right" data-toggle="dropdown"></i>
                                                <ul class="dropdown-menu border-box">

                                                    <li class="nav-item-lv3">
                                                        <a class="nav-link" href="/">Bếp gas,Bếp điện</a>
                                                    </li>

                                                    <li class="nav-item-lv3">
                                                        <a class="nav-link" href="/">Nồi cơm điện</a>
                                                    </li>

                                                    <li class="nav-item-lv3">
                                                        <a class="nav-link" href="/">Lò vi sóng</a>
                                                    </li>

                                                </ul>
                                            </li>



                                        </ul>
                                    </li>

                                {% endfor %}
                            {% endif %}

                        </ul>

                    </div>
                </nav>
            </div>
            <div class="col-lg-3 col-md-4 content_search_cart">
                <div class="list-action hidden-sm hidden-xs">
                    <ul>

                        <li>
                            <a href="tel:0912117494"><i style=" display: inline-block; border: 1px solid #ebebeb; padding: 3px; border: 1px solid #bebebe; margin-right: 5px; border-radius: 50%; /* color: red; */ " class="fa fa-phone"></i> 0912117494</a>
                        </li>
                    </ul>
                </div>
                <div class=" f-right">
                    <div class="mini-cart text-xs-center">
                        <div class="heading-cart">
                            <a href="/cart">
                                <i class="fa fa-shopping-bag"></i>
                                <div class="cartCount count-cart count_item_pr" id="cart-total"><span>{{ serviceCart().totalQuantities }}</span></div>
                            </a>
                        </div>

                        <div class="top-cart-content">
                            <div id="cart-sidebar" class="mini-products-list count_li">
                                <ul class="list-item-cart">
                                    {% set quantity = serviceCart().totalQuantities %}
                                    {% set products = serviceCart().getProducts %}
                                    {#                                        <pre>{{ dump(products) }}</pre>#}
                                    {% if(products) %}

                                        {% for p in products %}
                                            {% set priceDiscount=p.priceAfterDiscount(p.quantity) %}
                                            <li class="item cartItem_{{ p.id }}" price="{{ p.price }}">
                                                <div class="wrap_item">
                                                    <a class="product-image" href="{{ p.viewlink }}"
                                                       title="{{ p.name }}">
                                                        <img data-image="{{ p.thumbnailUri }}" src="{{ p.thumbnailUri }}" width="80">
                                                    </a>
                                                    <div class="detail-item">
                                                        <div class="product-details">
                                                            <h3 class="product-name text1line">
                                                                <a href="{{ p.viewlink }}" title="{{ p.name }}">
                                                                    {{ p.name }}
                                                                </a>
                                                            </h3>
                                                        </div>
                                                        <p class="quantity">Số lượng: {{ p.quantity }}</p>
                                                        <div class="product-details-bottom">
                                                            <p class="price">
                                                                {% if(priceDiscount>0) %}
                                                                    {{ priceDiscount|number_format(0) }}₫
                                                                {% elseif(p.price<=0) %}
                                                                    Liên hệ
                                                                {% else %}
                                                                    {{ p.price }}₫
                                                                {% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                        <div class="wrap_total">
                                            <div class="top-subtotal">
                                                Tổng tiền tạm tính: {{ serviceCart().totalMoney|number_format(0) }}
                                                ₫
                                            </div>
                                        </div>
                                        <div class="wrap_button">
                                            <div class="actions">
                                                <a href="/cart" class="btn btn-gray btn-cart-page pink">
                                                    Xem giỏ hàng
                                                </a>
                                                <a href="/cart/checkout" class="btn btn-gray btn-checkout pink">
                                                    Thanh toán
                                                </a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <h5>Không có sản phẩm nào trong giỏ</h5>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu mobile -->
<div class="menu_mobile sidenav max_991 hidden-md hidden-lg" id="mySidenav">
    <div class="acction">
        <div class="log">

            <img src="//theme.hstatic.net/1000329721/1000424884/14/product-1.gif?v=22" data-lazyload="//theme.hstatic.net/1000329721/1000424884/14/user.png?v=22" alt="Tạo tài khoản hoặc đăng nhập">

            <div class="linkacc">

                <ul class="login_mobile" style="display: inline-flex;">
                    {% if(hasIdentity()) %}
                        <li class="hidden-md hidden-lg"><a href="/profile">{{ getUser().fullName? getUser().fullName: 'Tài khoản' }}</a></li>
                        <li class="hidden-md hidden-lg"><a href="/user/signout">Thoát</a></li>
                    {% else %}
                        <li class="hidden-md hidden-lg"><a href="/user/signin" title="Đăng nhập"><i class="fa fa-user"></i>Đăng
                                nhập</a></li>
                        <li class="hidden-md hidden-lg"><a href="/user/signup" title="Đăng ký"><i
                                        class="fa fa-user-plus"></i>Đăng ký</a></li>
                    {% endif %}
                </ul>

            </div>
        </div>

    </div>

    <ul class="ul_collections">
        <li class="special">
            <a href="product">Tất cả danh mục</a>
        </li>
        {% set category = getCategories() %}

        {% if(category) %}
            {% for c in category %}

                <li class="level0 level-top parent">
                    {% if (c.name == 'Sản phẩm') %}
                        <a href="/product">Sản phẩm</a>
                    {% else %}
                        <a href="{{ c.viewLink }}">{{c.name | raw}}</a>
                    {% endif %}

                    {% set childs = c.childs %}
                    {% if(childs) %}

                        <i class="fa fa-angle-down"></i>
                    {% endif %}
                    <ul class="level0" style="display:none;">
                        {% if (childs) %}
                            {% for child in childs %}
                                <li class="level1 ">
                                    <a href="/products/"> <span>{{ child.name }}</span> </a>



                                </li>
                            {% endfor %}
                        {% endif %}


                    </ul>

                </li>
            {% endfor %}
        {% endif %}
    </ul>



</div>
<!-- End -->
<div id="myModal" class="modal" role="dialog">
    <div id="popup-cart-desktop" class="clearfix">

    </div>

</div>