{% extends "layout/layout" %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% import 'layout/breadcrumbs' as breadcrumbs %}
{% block meta %}
    {{ headTitle(category.name).setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="keywords" content="{{ category.name }}">
    <meta name="description" content="{{ (category.description ?: category.Name) }}">
    <meta property="og:title" content="{{ category.name }}">
    <meta property="og:url" content="{{ category.viewLink }}">
    <meta property="og:image" content="{{ 'https:'~category.imgUri }}">
    <meta property="og:type" content="category">
{% endblock %}
{% block stylesheets %}
{#    <link rel="stylesheet" href="{{ templatePath ~'/css/childs/news.css' }}" type="text/css">#}
{% endblock %}
{% block body %}
    {% set newsCategory = getNewsCategories() %}
    <section class="news-page">
        <div class="top-bar__spacer"></div>
        <div class="breadcrumb-Abus d-none d-sm-block">
            <div class="breadcrumb-inner mx-auto">
                {{ breadcrumbs.build(buildBreadcrumbs(category)) }}
            </div>
        </div>
        <div class="news-page__banner">
            <img src="{{ category.pictureUri ? : '/tpl/V0512/img/kien-thuc-ve-an-ninh.jpg' }}" alt="{{ category.Name }}">
        </div>
        <div class="container news-home__content mx-auto pt-4">
            <div class="col-12">
                {{ category.description | raw }}
            </div>
        </div>

        {% if(category.childs) %}
            <div class="news-list container mx-auto d-flex flex-wrap pt-4">
                {% for cate in category.childs %}
                    {% set image = cate.imageUri %}
                    {% set options = {
                        alt: cate.name | e('html'),
                        lazy: true,
                        openDiv: false,
                    } %}
                    <div class="item col-12 col-sm-6 col-xl-4">
                        <a class="d-block mb-4" href="{{ cate.viewLink }}" title="{{ cate.name | raw }}">
                            <div class="image">
                                {{ macroLazyFocusImager.LazyFocusImager(image,options) }}
                            </div>
                            <div class="box-text text-center">
                                <h3 class="name text-uppercase font-weight-bold">
                                    {{ cate.name | raw }}
                                </h3>
                                {% if(cate.description) %}
                                    <p class="intro">
                                        {{ cate.description | striptags }}
                                    </p>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
        {% else %}
            {% if(paginator is not empty) %}
                {{ paginator.setItemCountPerPage(12) }}
                {{ paginator.setPageRange(4) }}
                {% set t = null %}
                <div class="news-list container mx-auto d-flex flex-wrap pt-4">
                    {% for n in paginator %}
                        {% set image = n.pictureUri %}
                        {% set options = {
                            alt: n.title | e('html'),
                            lazy: true,
                            openDiv: false,
                        } %}
                        <div class="item col-12 col-sm-6 col-xl-4">
                            <a class="d-block mb-4" href="{{ n.viewLink }}" title="{{ n.title | raw }}">
                                <div class="image">
                                    {{ macroLazyFocusImager.LazyFocusImager(image,options) }}
                                </div>
                                <div class="box-text text-center">
                                    <h3 class="name text-uppercase font-weight-bold">
                                        {{ n.title | raw }}
                                    </h3>
                                    <p class="intro">
                                        {{ n.intro(true) | striptags }}
                                    </p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    <div class="col-12">
                        {{ render_paginator(paginator) }}
                    </div>
                </div>
            {% endif %}
        {% endif %}

    </section>
    <style>
        header{
            background: #fff;
            border-bottom: 1px solid #e5e5e5;
        }
        header .short-nav path{
            color: #262626;
        }
        header span.search-field__label__text,header .search-form span.search-field__icon path{
            color: #575557;
        }
        @media (min-width: 992px){
            header .search-form {
                border: 1px solid #f5f5f5;
            }
        }
    </style>
{% endblock %}
