{% extends "layout/layout" %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% block meta %}
    {{ headTitle('Quản lý đơn hàng').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta property="og:title" content="Quản lý đơn hàng">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:image" content="https://captot.vn/tp/T0002/img/logoShare.png">
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ '/tp/'~ templateDir ~'/css/childs/user.css' }}" type="text/css">
{% endblock %}
{% block body %}
    <div class="breadcrumb_background">
        <section class="bread-crumb">
            <span class="crumb-border"></span>
            <div class="container">
                <div class="row">
                    <div class="col-12 a-center">
                        <ul class="breadcrumb">
                            <li class="home">
                                <a href="/"><span>Trang chủ</span></a>
                                <span class="mr_lr">&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</span>
                            </li>

                            <li><strong><span>Trang khách hàng</span></strong></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="signup page_customer_account">
        <div class="container">
            <div class="wrap_background_aside  margin-bottom-40">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-main-acount">
                        <div id="parent" class="row">
                            <div id="a" class="col-xs-12 col-sm-12 col-lg-9 col-left-account">
                                <div class="page-title m992">
                                    <h1 class="title-head margin-top-0"><a href="#">Trang khách hàng</a></h1>
                                </div>
                                <div class="form-signup name-account m992">
                                    <p><strong>Xin chào, <a href="/account/addresses" style="color:#fbbf22;">{{ user.fullName | e('html') }}</a>&nbsp;!</strong></p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-lg-12 px-0">

                                    <div class="my-account">
                                        <p style="padding: 10px 0"><img src="tpl/V0001/img/stepOrder.png" alt="sttep order"/></p>
                                        <div class="dashboard">

                                            <div class="recent-orders">
                                                <div class="table-responsive tab-all" style="overflow-x:auto;">
                                                    <table class="table table-cart" id="my-orders-table">
                                                        <thead class="thead-default">
                                                        <tr>
                                                            <th>Đơn hàng</th>
                                                            <th>Ngày</th>
                                                            <th>Địa chỉ</th>
                                                            <th>Giá trị đơn hàng</th>
                                                            <th>TT thanh toán</th>
                                                            <th>Ghi chú</th>
                                                        </tr>
                                                        </thead>

                                                        <tbody>
                                                        {% if(paginator.getCurrentModels is not empty) %}
                                                            {% for order in paginator.getCurrentModels %}
                                                                {% set products = orders[order.getId()].getProducts %}
                                                                {% set totalOrderPrice = 0 %}
                                                                {% set p = pOrder.product %}
                                                                {% set totalOrderPrice = totalOrderPrice + (pOrder.quantity * pOrder.price) %}
                                                                <tr class="first odd">
                                                                    <td><a href="/order/search?q={{ order.id }}">#{{ order.id }}</a></td>
                                                                    <td>{{ order.createdDate | date("d/m/Y") }}</td>
                                                                    <td>
                                                                        {{ order.customerAddress }}
                                                                    </td>
                                                                    <td>{% if(pOrder is not empty) %}
                                                                            {% for pOrder in products %}
                                                                                {% set p = pOrder.product %}
                                                                                {% set total = (pOrder.quantity * pOrder.price) %}

                                                                                {% set image = p.thumbnailUri %}
                                                                                {% set options = {
                                                                                    alt: p.name,
                                                                                    lazy: true,
                                                                                    openDiv: false,
                                                                                } %}
                                                                                <div class="item">
                                                                                    <div style="float: left;width: 60%;padding: 2%;border-right: 1px solid #EFECE4">
                                                                                        <h3 style="font-size: 13px;font-weight: 700; line-height: 15px">
                                                                                            <a href="{{ p.viewLink }}">{{ p.name }}</a></h3>
                                                                                        <a style="float: left; width: 80px; margin-right: 5px;"
                                                                                           href="{{ p.viewLink }}">
                                                                                            {{ macroLazyFocusImager.LazyFocusImager(image,options) }}

                                                                                            <p style="margin-top: 20px;">{{ translate('Số lượng') }}
                                                                                                : {{ pOrder.quantity }}</p>

                                                                                            <p>{{ translate('Đơn giá') }}
                                                                                                : {{ total | number_format(0) }} ₫</p>
                                                                                            <span class="clearfix"></span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <div style="float: left;width: 35%;text-align:center;">
                                                                                        <a target="_blank"
                                                                                           style="display: block;margin-top: 50px;"
                                                                                           href="{{ p.viewLink }}">{{ translate('Xem chi tiết') }}</a>
                                                                                    </div>
                                                                                    <span class="clearfix"></span>
                                                                                </div>
                                                                            {% endfor %}
                                                                        {% endif %}</td>
                                                                    <td>
                                                                        <span class="span_pending" style="color: red">{{ order.statusName(order.status) }}</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="span_" style="color: red">{{ order.description }}</span>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endif %}
                                                        </tbody>


                                                    </table>

                                                </div>
                                                {{ render_paginator(paginator) }}
                                                <div class="paginate-pages pull-right page-account text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div id="b" class="col-xs-12 col-sm-12 col-lg-3 col-right-account margin-top-20">
                                <div class="block-account">
                                    <div class="block-title-account"><h5>Tài khoản của tôi</h5></div>
                                    <div class="block-content form-signup">
                                        <p>Tên tài khoản: <strong style="line-height: 20px;"> {{ user.username }}!</strong></p>
                                            <ul id="profileMenu" class="px-0">
                                                <li><a href="/profile">{{ translate('Trang cá nhân') }}</a></li>

                                                <li class="active"><a href="/order">{{ translate('Quản lý đơn hàng') }}</a></li>
                                                <li><a href="/user/signout">{{ translate('Thoát') }}</a></li>
                                            </ul>
                                        <p><i class="fa fa-home font-some" aria-hidden="true"></i>  <span>Thành phố: {{ user.options.cityName }}</span></p>
                                        <p><i class="fa fa-mobile font-some" aria-hidden="true"></i> <span>Điện thoại: {{ user.mobile }}</span> </p>
                                        <p><i class="fa fa-map-marker font-some" aria-hidden="true"></i> <span> Địa chỉ : {{ user.address }}</span></p>
                                        <p><i class="fa fa-yelp font-some" aria-hidden="true"></i> <span> Email: {{ user.email}} </span></p>
                                        <p><i class="fa fa-plane font-some" aria-hidden="true"></i> <span> Quốc gia :Vietnam</span></p>
                                        <p><i class="fa fa-code font-some" aria-hidden="true"></i> <span> Zip code: </span></p>
                                        <p style="margin-top:20px;"><a href="/account/addresses" class="btn btn-full btn-primary">Sổ địa chỉ (1)</a></p>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="dMsg"></div>
    <style>
        .table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
            border-top: 0;
        }
        .table>thead>tr>th {
            vertical-align: bottom;
            border-bottom: 2px solid #ddd;
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }
        th, td {
            text-align: center;
            padding: 15px;
            border: 1px solid #e1e1e1;
            color: #1c1c1c;
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }
        .block-account .block-title-account h5 {
            text-transform: uppercase;
        }
        .block-content.form-signup {
            background: #fff;
        }
        .block-content.form-signup p i {
            color: #fbbf22;
            width: 10px;
            margin-right: 10px;
        }
    </style>
{% endblock %}