{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Thông tin người dùng').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="description" content="Thông tin người dùng">
    <meta name="keywords" content="Thông tin người dùng">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:title" content="Thông tin người dùng">
    <meta property="og:type" content="article">
{% endblock %}
{% block body %}
    <section class="section bgr_f3 sect_20">
        <div class="container">
            <div class="row box_user">
                <div class="col-md-4">
                    <div class="action_user">
                        <ul>
                            <li><a class="active" href="/profile">Trang cá nhân</a></li>
                            <li><a href="/order">Quản trị đơn hàng</a></li>
                            <li><a  href="/order/search">Tra cứu đơn hàng</a></li>
                            <li><a href="/profile/edit">Thay đổi thông tin</a></li>
                            <li><a href="/user/signout">Thoát</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 box_bd_left">
                    <div class="info_user">
                        <ul>
                            <li><span>Họ và tên :</span> {{ user.fullname }}</li>
                            <li><span>Email :</span> {{ user.email }}</li>
                            <li><span>Điện thoại :</span> {{ user.mobile }}</li>
                            <li><span>Ngày sinh :</span> {{ user.birthday | date("d/m/Y") }}</li>
                            <li><span>Giới tính :</span> {{  (user.gender==1?'Nam':'Nữ') }}</li>
                            <li><span>Điểm tích lũy :</span> {{ (user.points)? user.points :'0' }} điểm</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'user/profile/productsHis'  %}
    <div class="foote_user clearfix container pt-4">
        <a href="/" class="pull-right">Tiếp tục mua sắm <i class="fa fa-caret-right"></i></a>
    </div>
{% endblock %}