{% extends "layout/layout" %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% block meta %}
    {{ headTitle(news.title | e('html')).setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="keywords" content="{{ news.metaKeywords ?: news.title | e('html') }}">
    <meta name="description" content="{{ (news.metaDescription ?: news.title | e('html')) }}">
    <meta property="og:title" content="{{ news.title | e('html') }}">
    <meta property="og:url" content="{{ news.viewLink }}">
    <meta property="og:image" content="{{ 'https:'~news.pictureUri }}">
    <meta property="og:type" content="category">
{% endblock %}
{% block body %}
    <section class="content container ">
        <div class="all-ms">
            <div class="breadcrumb breadcrumbs">
                <div class="rdfa-breadcrumb">
                    <div>
                        <p>
                            <span class="breadcrumbs-title"></span>
                            <span typeof="v:Breadcrumb">
                            <a href="/" class="home">{{ translate('Trang chủ') }}</a>
                        </span>
                            <span class='separator'>|</span>{{ translate('Sản phẩm') }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row-fluid clearfix">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 clearfix">
                    <div class="span9 main">
                        <div class="home-page">
                            <h1 class="bo entr-title">{{ news.title|raw }}</h1>
                            <div class="list-sps">
                                <div class="content-show">
                                    <div class="entry-content">
                                        {{ news.content|raw }}
                                    </div>
                                    <div id="comment-content" class="gird_8">
                                        <div id="respond">
                                            <h3>Để lại Bình luận của bạn</h3>
                                            <div class="fb-comments" data-href="{{ getCurrentUrl() }}"
                                                 data-numposts="5">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="bvlq">
                                        <h3 class="lqcc"><span>Bài viết liên quan</span></h3>
                                        <ul class="row-fluid">
                                            {% set newRelated = getLastestNews({'limit':5,'categoryId':news.categoryId,'excludedIds':news.id}) %}
                                            {% if(newRelated) %}
                                                {% for n in newRelated %}
                                                    <li class=" home-for-title">
                                                        <h2>
                                                            <a href="{{ n.viewLink }}"
                                                               title="{{ n.title }}">{{ n.title|raw }}
                                                            </a>
                                                        </h2>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 clearfix">
                    <div class="span3 sidebar">
                        <div class="widget widget_recent_entries  "><h3>Bài viết mới</h3>
                            <ul>
                                {% set lastestNews = getLastestNews({'limit':5 }) %}
                                {% if(lastestNews) %}
                                    {% for news in lastestNews %}
                                        <li>
                                            <a href="{{ news.viewLink }}" title="{{ news.title }}">
                                                {{ news.title }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="home-page margin-top">
                            <h3 class="entr-title tp_title"><span>Sản phẩm Nổi bật</span>
                            </h3>
                            {% set producthot = search({'limit':5,'showHot':1}) %}
                            {% if(producthot) %}
                                {% for p in producthot %}
                                    {% set image = p.thumbnailUri %}
                                    {% set priceDiscount = p.priceAfterDiscount %}
                                    {% set options = {
                                        alt: p.name,
                                        class: 'attachment-medium size-medium wp-post-image',
                                        lazy: true,
                                        openDiv: false,
                                    } %}
                                    <ul class="sp-view splq ">
                                        <li class="img">
                                            <a href="{{ p.viewLink }}" title="Sofa gỗ cao cấp SF11" data-tooltip="9070">
                                                {{ macroLazyFocusImager.LazyFocusImager(image,options) }}
                                            </a>
                                        </li>
                                        <li class="title">
                                            <h2>
                                                <a class="tp_product_name" href="{{ p.viewLink }}"
                                                   title="{{ p.name|raw }}">{{ p.name|raw }}</a>
                                            </h2>
                                        </li>

                                        <li class="gia">
                                            {% if(priceDiscount > 0) %}
                                                <span class="tp_product_price">{{ priceDiscount|number_format(0) }} VNĐ </span>
                                                <del class="tp_product_price_old">{{ p.price|number_format(0) }}
                                                    VNĐ
                                                </del>
                                            {% elseif(p.oldprice) %}
                                                <span class="tp_product_price">{{ p.price|number_format(0) }}VNĐ </span>
                                                <del class="tp_product_price_old">{{ p.oldprice|number_format(0) }}
                                                    VNĐ
                                                </del>
                                            {% elseif(p.price <= 0 ) %}
                                                <span class="tp_product_price">Liên hệ</span>
                                            {% else %}
                                                <span class="tp_product_price">{{ p.price|number_format(0) }} VNĐ </span>
                                            {% endif %}
                                    </ul>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}