{% extends "layout/layout" %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% import 'layout/breadcrumbs' as breadcrumbs %}
{% block meta %}
    {% set title = getParam('q') %}
    {{ headTitle('Kết quả tìm kiếm: ' ~ title).setSeparator(' - ').setAutoEscape(false)|raw }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ templatePath ~'/css/childs/index.css' }}" type="text/css">
    <link rel="stylesheet" href="{{ templatePath ~'/css/childs/catePro.css' }}" type="text/css">
{% endblock %}
{% block body %}
    {% set title = getParam('q') %}
    {% set nItems = 0 %}
    {% if(paginator) %}
        {% set isPaginator = true %}
        {% set nItems = paginator.pages.totalItemCount %}
    {% else %}
        {% set nItems = paginator|length %}
    {% endif %}
    {% set arrayIds = []%}
    <span class="clearfix menuActive" data-rel="1"></span>
    <span class="menuSubActive" data-rel="1"></span>
    <div class="containerMain">
        <div id="menuMain" style="display: none">
            <div id="srlMn" class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                <div id="menuScrollWrp">

                    <div id="menuMain" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        {% if(getCategories()) %}
                        <ul class="menuTrigger">
                           <li class="labelMenu">
                               <i class="fa fa-bars"></i>
                                <a href="/">Danh mục sản phẩm</a>
                           </li>
                            {% for c in getCategories() %}
                            <li class="ctMenuMain">
                                    <i class="fa fa fa-arrow-circle-right"></i>
                                    <a href="{{ c.viewLink }}">{{ c.name | raw }}</a>
                                    {% if(c.childs) %}
                                    <i class="fa fa-angle-right pull-right"></i>
                                    <div class="blockChilds">
                                        <ul>
                                            {% for c1 in c.childs %}
                                            <li>
                                                <a href="{{ c1.viewLink }}">{{ c1.name | raw }}</a>
                                                {% if(c1.childs) %}
                                                <ul>
                                                    {% for c2 in c1.childs %}
                                                    <li><a href="{{ c2.viewLink }}">{{ c2.name | raw }}</a></li>
                                                    {% endfor %}
                                                 </ul>
                                                {% endif %}
                                             </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                             </ul>
                        {% endif %}
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <ul class="mainHelper" style="display: block">
                            <li><a href="">SCROLL_TITLE_1</a></li>
                            <li><a href="">SCROLL_TITLE_2</a></li>
                            <li><a href="">SCROLL_TITLE_3</a></li>
                            <li><i class="image imgSuport"></i><span>HOTLINE</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% set category = [{'label': ' Tìm kiếm', 'uri':'/search'}] %}
        {{ breadcrumbs.build(category) }}
        <div class="col-md-12" id="ctCate">
            <div class="col-md-3">
                <div class="col-md-12 hidden-xs hidden-sm" id="childCate">
                    <h3 id="labelCtPro" class="generalBar pull-left">Danh mục sản phẩm
                        <i class="neo"></i>
                    </h3>
                    <div id="menuCate">
                        <ul id="subMenuCate">
                            {% if(getCategories() is not empty) %}
                                {% for c in getCategories() %}
                                <li data-rel="{{ c.code }}" class="has-sub">
                                    {% if(c.childs is not empty) %}
                                        <i class="fa fa-arrow-circle-right"></i>
                                        <a href="{{ c.viewLink }}" class="cateLv2">{{ c.name | raw }}</a>
                                    {% else %}
                                        <i class="fa fa-circle" id="iconCircle" aria-hidden="true"></i>
                                        <a href="{{ c.viewLink }}" style="padding-left: 22px;">{{ c.name | raw }}</a>
                                    {% endif %}
                                    {% if(c.childs is not empty) %}
                                        <span class="toggle image"></span>
                                        <ul class="menuCateSub">
                                            {% for c1 in c.childs %}
                                            <li data-rel="{{ c1.id }}">
                                                <a href="{{ c1.viewLink() }}">
                                                   {{ c1.name | raw }}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                               </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    {{ include('layout/generalbar') }}
                </div>
            </div>
            <div class="col-md-9" style="padding-left: 28px;">
                <div class="co-md-12" id="nameCate">
                    <h3 class="labelOther">
                        <p style="display: block;font-size: 16px;">Tìm thấy <b>{{ nItems }}</b> kết quả cho từ khóa <b>“{{ title }}”</b></p>
                        <span></span>
                    </h3>
                </div>
                <div class="productList col-lg-12 col-md-12 col-xs-12">
                   {% if(paginator.currentModels is not empty) %}
                       {% for p in paginator.currentModels %}
                           {% set image = p.thumbnailUri %}
                           {% set options = {
                               alt: p.name,
                               class: 'imageChange',
                               lazy: true,
                               openDiv: false,
                           }%}
                           {% set percent = p.discountPercent %}
                           {% set priceDiscount = p.priceAfterDiscount %}
                           {% set arrayIds = [p.id] %}
                           <div class="proItem col-lg-4 col-md-4 col-xs-6" id="proItem">
                               <div class="proIndexItem" data-storeId="{{ p.storeId }}" psId="{{ p.name }}">
                                   <div class="proImg">
                                       <a href="{{ p.viewLink }}">
                                           {{ macroLazyFocusImager.LazyFocusImager(image,options) }}
                                       </a>
                                       {% if(percent > 0) %}
                                           <span class="image iconSales">{{ percent }}%</span>
                                       {%  endif %}
                                       <a id="outStock" class="inventory" href="{{ p.viewLink }}">Sản phẩm hiện tại hết hàng</a>
                                       {% if(p.options.psGifts) %}
                                           <img alt="Quà tặng" src="/tpl/V0001/img/2019/gift.jpg" title="Quà tặng" class="proGift">
                                       {% endif %}
                                   </div>
                                   <div class="proInfo">
                                       {% set values = p.options.attrValues %}
                                       {% if(values is not empty) %}
                                           <ul class="color-swatches" data-hover="true" data-click="true" psId="{{ p.id }}" data-handle="{{ p.viewlink }}">
                                               {% for v in values %}
                                                   <li class="color-item" data-img="{{ v.thumbnailUri }}" value="{{ v.id }}" title="{{ v.name }}">
                                                       <img data-sizes="auto" class="lazyload" src="{{ v.thumbnailUri }}" alt="{{ v.name }}"></li>
                                               {% endfor %}
                                           </ul>
                                       {% else %}
                                           <ul class="color-swatches"></ul>
                                       {% endif %}
                                       <h3 class="proName"><a href="{{ p.viewLink }}">{{ p.name }}</a></h3>
                                       <div class="blockPrice">
                                           {% if (priceDiscount > 0) %}
                                               <p class="proPrice">{{ priceDiscount|number_format(0) }}<span> VNĐ</span></p>
                                               <p class="oldPriceSale">{{ p.price|number_format(0) }} VNĐ</p>
                                           {% elseif (p.oldprice() > 0) %}
                                               <p class="proPrice">{{ p.price|number_format(0) }}<span> VNĐ</span></p>
                                               <p class="oldPriceSale">{{ p.oldprice|number_format(0) }} VNĐ</p>
                                           {% else %}
                                               <p class="proPrice">{{ p.price|number_format(0) }}<span> VNĐ</span></p>
                                           {% endif %}
                                       </div>
                                       <button id="ivtCart" class="buyNow image" data-toggle="modal" data-target="#myModal"
                                               data-id="{{ p.id }}" data-buy="1">Mua ngay
                                       </button>
                                   </div>
                               </div>
                           </div>
                       {% endfor %}
                       {% else %}
                           <p>Không có kết quả nào phù hợp </p>
                   {% endif %}
                </div>
                <div class="pagination">
                    <div class="links">
                        {{ render_paginator(paginator) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 style="display: none">Kết quả tìm kiếm: {{ title }}</h1>

{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ templatePath ~'/js/category.js' }}"></script>
{% endblock %}