<!DOCTYPE html>
<html lang="vi-VN" data-nhanh.vn-template="{{ templateDir }}">
    <head>
        <meta name="google-site-verification" content="XNR-8BMhcJS8io-JeByBX6BKUDDJpkzu13oZrYJ8M7E" />
        <meta name="DC.language" content="scheme=utf-8 content=vi"/>
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
        <meta charset="utf-8">
        {% set appId = getAppId() %}
        {% if(appId) %}
            <meta name="fb:app_id" content="{{ appId }}">
        {% endif %}
        {% set extraSettingsArray =  extraSettings()%}
        {% if(extraSettingsArray['gta']['generatedTimeAndAuthor']) %}
            {% if(extraSettingsArray['gta']['generatedTimeAndAuthor'] == 1) %}
                {% set display = 'block' %}
            {% endif %}
            {% else %}
                {% set display = 'none' %}
        {% endif %}
        <link href="{{ getFavicon() ?: '/images/favicon.ico' }}" rel="shortcut icon" type="image/vnd.microsoft.icon">
{#        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>#}
{#        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-oi8o31xSQq8S0RpBcb4FaLB8LJi9AT8oIdmS1QldR8Ui7KUQjNAnDlJjp55Ba8FG" crossorigin="anonymous">#}
        {{ headMeta().appendName('viewport', 'width=device-width, initial-scale=1.0').appendHttpEquiv('X-UA-Compatible', 'IE=edge')|raw }}
        {% block meta %}{% endblock %}
        {% set styleSheet = [
            '/css/bootstrap/bootstrap-3.3.5.min.css',
            '/css/fontAwesome/font-awesome-5.12.0.min.css',
            templatePath ~'/fonts/font.css',
            '/js/jquery/fancybox-2.1.5/source/jquery.fancyb21tox.css',
            templatePath ~'/css/slick.css',
            templatePath ~'/css/slick-theme.css',
            templatePath ~'/css/jqui.css',
            templatePath ~'/css/default_style.min.css',
            '/css/owlCarousel/owl.carousel.min.2.3.4.css',
            templatePath ~'/css/animate.min.css',
            '/css/font.css',
            templatePath ~'/css/styles.css',
            templatePath ~'/css/product.css',
        ] %}
        <link rel="stylesheet" href="{{ srcLink(styleSheet,2) }}" type="text/css">
        {{ loadScripts({'positionHead':true}) | raw}}
    </head>
    <body>
        {% set script = [
            '/js/jquery/jquery.min.js',
            '/js/bootstrap/bootstrap-3.3.5.min.js',
            '/js/jquery/jquery-ui-1.10.3.custom.min.js',
            '/js/lib.js',
            templatePath ~'/js/flickity.pkgd.min.js',
            templatePath ~'/js/imagesloaded.pkgd.min.js',
            templatePath ~'/js/slick.min.js',
            templatePath ~'/js/wow.min.js',
            templatePath ~'/js/js_main.min.js',
            '/js/owlCarousel/owl.carousel.min.js',
            '/js/jquery/jquery.cookie.js',
            '/js/jquery/fancybox-2.1.5/source/jquery.fancybox.pack.js',
            templatePath ~'/js/jquery.marquee.min.js',
            '/js/jquery/jquery.number.min.js',
            templatePath ~'/js/scripts.js',
        ] %}
        <script type="text/javascript" src="{{ srcLink(script,1)  }}"></script>
        {% block script %}{% endblock %}

        <input type="hidden" id="storeId" value="{{ getStoreId() }}">

        {% include 'layout/header' %}
        {% block body %}{% endblock %}
        {% block stylesheets %}{% endblock %}

        {{ headScript }}
        {{ inlineScript }}
        {{ loadScripts() | raw}}
        {{ loadViewMarketingEvent | raw}}
{#        {{ loadFacebookChat('https://www.facebook.com/Capbalovali/') }}#}
        {#{% import '/'~templateLib~'/include/skinsnew'%}#}
        {% include 'layout/footer' %}
    </body>
</html>
