<!DOCTYPE html>
<html lang="vi-VN" data-nhanh.vn-template="{{ templateDir }}">
<head>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
    <meta charset="utf-8">
    {% set appId = getAppId() %}
    {% if(appId) %}
        <meta name="fb:app_id" content="{{ appId }}">
    {% endif %}
    {% set extraSettingsArray =  extraSettings()%}
    {% if(extraSettingsArray['gta']['generatedTimeAndAuthor']) %}
        {% if(extraSettingsArray['gta']['generatedTimeAndAuthor'] == 1) %}
            {% set display = 'block' %}
        {% endif %}
    {% else %}
        {% set display = 'none' %}
    {% endif %}
    <link href="{{ getFavicon() ?: '/images/favicon.ico' }}" rel="shortcut icon" type="image/vnd.microsoft.icon">
    {{ headMeta().appendName('viewport', 'width=device-width, initial-scale=1.0').appendHttpEquiv('X-UA-Compatible', 'IE=edge')|raw }}
    {% block meta %}{% endblock %}
    {% set styleSheet = [
        templatePath ~'/css/bootstrap-min.css',
        templatePath ~'/css/style.css',
        templatePath ~'/css/responsive.css',
        '/css/fontAwesome/font-awesome-4.7.0.min.css',
    ] %}
    <link rel="stylesheet" href="{{ srcLink(styleSheet,2) }}" type="text/css">
    {{ loadScripts({'positionHead':true}) | raw}}
</head>
<body>
{% set script = [
    '/js/jquery/jquery.min.js',
    '/js/translate/vi-vn.js',
    '/js/translate/en-us.js',
    '/js/jquery/jquery.number.min.js',
    '/js/lib.js',
    templatePath ~'/js/main.js',
    templatePath ~'/js/slick.js',
] %}
<script type="text/javascript" src="{{ srcLink(script,2)  }}"></script>
{% block script %}{% endblock %}

<input type="hidden" id="storeId" value="{{ getStoreId() }}">

{% if(layout().showOnlyContent == true) %}
    {% block checkout %}{% endblock %}
    {{ loadScripts() | raw}}
    {{ headScript }}
    {{ inlineScript }}
{% else %}
    {% include 'layout/header' %}
    {% block body %}{% endblock %}

    {{ loadScripts() | raw}}
    {{ headScript }}
    {{ inlineScript }}
    {{ loadFacebookChat('https://www.facebook.com/Capbalovali/') }}
    {#{% import '/'~templateLib~'/include/skinsnew'%}#}
    
    {% include 'layout/footer' %}
{% endif %}

{% block stylesheets %}{% endblock %}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0" nonce="ezBPNeM5"></script>
<noscript><div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/955526277/?guid=ON&amp;script=0"/></div></noscript>
</body>
</html>