{% extends "layout/layout" %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% block meta %}
    {{ headTitle('Trang chủ').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta property="og:title" content="Hệ thống cửa hàng Cặp, Balô, Vali kéo du lịch chính hãng">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ templatePath ~'/css/plugin-animate.css' }}">
{% endblock %}
{% block body %}
{#    {% set product = search({ 'limit': 6 }) %}#}
{#    {% if(product is not empty) %}#}
{#        {% for p in product %}#}
{#           <a href="{{ p.viewLink }}"><img src="{{ p.thumbnailUri }}"></a>#}
{#        {% endfor %}#}
{#    {% endif %}#}

{#    {% set category = getCategories() %}#}
{#    <pre>{{ dump(product) }}</pre>#}
    {% include 'layout/popupHome' %}
    <main>

        <!-- slider-header -->
        <div class="slider-header">
            <div class="container">
                {% include 'layout/banner' %}
            </div>
        </div>
        <!-- end slider-header -->

        <!-- profuct-hot -->
        {% set banner_hot = getBannerByPositionCode('HOME_HOT', {'limit': 2}) %}
        {% if(banner_hot) %}
         <div class="product-hot text-center"><!--profuct-hot -->
             <div class="container"> <!-- container -->
                 <div class="row">
                     {% for b in banner_hot %}
                         {% set image = b.imagesrc %}
                         {% set options = {
                             alt: b.name,
                             lazy: true,
                             openDiv: false,
                         } %}
                        <div class="product-hot-item col-md-6 col-12"> <!-- product-hot-item -->
                            <a href="{{ b.viewLink }}">
                                {{ macroLazyFocusImager.LazyFocusImager(image,options) }}
                            </a>
                        </div> <!-- end product-hot-item -->
                     {% endfor %}
                 </div>
             </div>
         </div>
        {% else %}
        <div class="product-hot text-center"><!--profuct-hot -->
             <div class="container"> <!-- container -->
                 <div class="row">
                        <div class="product-hot-item col-md-6 col-12"> <!-- product-hot-item -->
                            <a href="">
                                <img src="/tpl/V0508/img/demo-home/home_banner_1.jpg" alt="demo-home">
                            </a>
                        </div> <!-- end product-hot-item -->
                        <div class="product-hot-item col-md-6 col-12"> <!-- product-hot-item -->
                            <a href="">
                                <img src="/tpl/V0508/img/demo-home/home_banner_2.jpg" alt="demo-home">
                            </a>
                        </div> <!-- end product-hot-item -->
                        <div class="product-hot-item col-md-6 col-12"> <!-- product-hot-item -->
                            <a href="">
                                <img src="/tpl/V0508/img/demo-home/home_banner_3.jpg" alt="demo-home">
                            </a>
                        </div> <!-- end product-hot-item -->
                        <div class="product-hot-item col-md-6 col-12"> <!-- product-hot-item -->
                            <a href="">
                                <img src="/tpl/V0508/img/demo-home/home_banner_4.jpg" alt="demo-home">
                            </a>
                        </div><!-- end container -->
                     </div>
             </div>
         </div>
        {% endif %}
        <!-- end profuct-hot -->

        <!-- product-new -->
        <div class="prodcuct-new container">
            <div class="text-center">
            <h1 class="title-category-product">SẢN PHẨM MỚI NHẤT</h1>
            </div>
            <div class="product-items-all row ">
                {% set product = search({ 'limit':8,'showNew':1 }) %}
                {% if(product is not empty) %}
                {% for p in product %}
                    {% set image = p.thumbnailUri %}
                    {% set options = {
                        alt: p.name,
                        class: 'img-hover-defaul',
                        lazy: true,
                        openDiv: false,
                    }%}
                    {% set percent = p.calcDiscountPercent %}
                    {% set priceDiscount = p.priceAfterDiscount %}
                    {% set ascending = ascending + 1 %}
                    <div class="product-item wow bounceInUp seller text-center col-6 col-md-6 col-lg-3" data-id="{{ p.id }}" data-storeId = "{{ p.storeId }}" data-wow-delay="0.{{ ascending }}s"> <!-- product-item -->

                            <div class="img-hover img-hover-best-seller">
                                <a href="{{ p.viewLink }}">
                                {{ macroLazyFocusImager.LazyFocusImager(image,options) }}
                                {% if(p.showHot > 0) %}
                                    <img src="https://theme.hstatic.net/1000197303/1000565533/14/best_seller.png?v=573" alt="" class="symbol-bestseller">
                                {% else %}
                                {% endif %}
                                {% if(percent > 0) %}
                                    <span class="product-sale">{{ percent }}%</span>
                                {% endif %}
                                </a>
                            </div>

                            <h3 class="title-product-item">{{ p.name }}</h3>
                            {% if (p.priceAfterDiscount > 0) %}
                                <div class="price-total-del">
                                <span class="price-product-item">{{ p.priceAfterDiscount|number_format(0) }}₫</span>
                                <span class="price-product-item-discount">{{p.price|number_format(0)}}₫</span>
                                </div>
                            {% elseif (p.oldprice() > 0) %}
                                <div class="price-total-del">
                                        <span class="price-product-item">{{ p.price|number_format(0) }}₫</span>
                                        <span class="price-product-item-discount">{{ p.oldprice|number_format(0) }}₫</span>
                                </div>
                            {% else %}
                                <p class="price-product-item">{{ p.price|number_format(0) }}₫</p>
                            {% endif %}

                    </div> <!-- end product-item -->
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <!-- end product-new -->
        <!-- product-new -->
        <div class="prodcuct-new container">
            <div class="text-center">
                <h1 class="title-category-product">Sản phẩm bán chạy nhất</h1>
            </div>
            <div class="product-items-all row">
                {% set product = search({'limit':8 ,'showHot': 1 }) %}
                {% if(product is not empty) %}
                    {% for p in product %}
                        {% set image = p.thumbnailUri %}
                        {% set options = {
                            alt: p.name,
                            class: 'img-hover-defaul',
                            lazy: true,
                            openDiv: false,
                        }%}
                        {% set percent = p.calcDiscountPercent %}
                        {% set priceDiscount = p.priceAfterDiscount %}
                        <div class="product-item seller text-center col-6 col-md-6 col-lg-3" data-id="{{ p.id }}" data-storeId = "{{ p.storeId }}"> <!-- product-item -->

                                <div class="img-hover img-hover-best-seller">
                                    <a href="{{ p.viewLink }}">
                                    {{ macroLazyFocusImager.LazyFocusImager(image,options) }}
                                    {% if(p.showHot > 0) %}
                                        <img src="tp/V0508/img/best_seller.png" alt="" class="symbol-bestseller">
                                    {% else %}
                                    {% endif %}
                                    {% if(percent > 0) %}
                                        <span class="product-sale">{{ percent }}%</span>
                                    {% endif %}
                                    </a>
                                </div>

                                <h3 class="title-product-item">{{ p.name }}</h3>
                                {% if (p.priceAfterDiscount > 0) %}
                                 <div class="price-total-del">
                                    <span class="price-product-item">{{ p.priceAfterDiscount|number_format(0) }}₫</span>
                                    <span class="price-product-item-discount">{{p.price|number_format(0)}}₫</span>
                                </div>
                                {% elseif (p.oldprice() > 0) %}
                                    <div class="price-total-del">
                                        <span class="price-product-item">{{ p.priceAfterDiscount|number_format(0) }}₫</span>
                                        <span class="price-product-item-discount">{{p.price|number_format(0)}}₫</span>
                                    </div>
                                {% else %}
                                    <span class="price-product-item">{{ p.price|number_format(0) }}₫</span>
                                {% endif %}

                        </div> <!-- end product-item -->
                    {% endfor %}
                {% endif %}
            </div>

        <!-- end product-new -->

        <!-- hashtag-social -->
        <h3 class=" hashtag-social-title text-center">#Nhanh.vnONME</h3>
        <div class=" border-top border-bottom">
            <div class="pargination-hashtag">
                <div class="hashtag-social2 mt-5 mb-5 row">
                    <div class="item col-6 col-md-12">
                        <a href="/">
                            <img src="tp/V0508/img/instagram_1.jpg" alt="">

                        </a>
                        <legend class="title-hashtag">Năng động xuống phố</legend>
                        <p>@Nhanh.vnfashionvn</p>
                    </div>
                    <div class="item col-6 col-md-12">
                        <a href="/">
                            <img src="tp/V0508/img/instagram_1.jpg" alt="">

                        </a>
                        <legend class="title-hashtag">Năng động xuống phố</legend>
                        <p>@Nhanh.vnfashionvn</p>
                    </div>
                    <div class="item col-6 col-md-12">
                        <a href="/">
                            <img src="tp/V0508/img/instagram_1.jpg" alt="">

                        </a>
                        <legend class="title-hashtag">Năng động xuống phố</legend>
                        <p>@Nhanh.vnfashionvn</p>
                    </div>
                    <div class="item col-6 col-md-12">
                        <a href="/">
                            <img src="tp/V0508/img/instagram_1.jpg" alt="">
                        </a>
                        <legend class="title-hashtag">Năng động xuống phố</legend>
                        <p>@Nhanh.vnfashionvn</p>
                    </div>
                </div>

            </div>

            <div class="nav-hashtafsocial-button">
                <div class="nav-hashtag-social-prev">

                </div>
                <div class="nav-hashtag-social-next">

                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ '/js/jquery/jquery.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/js/lib.js' }}"></script>
    <script type="text/javascript" src="{{ templatePath ~'/js/slick.min.js' }}"></script>
    <script type="text/javascript" src="{{ templatePath ~'/js/index.js' }}"></script>
    <script type="text/javascript" src="{{ templatePath ~'/js/wow.min.js' }}">new WOW().init(); </script>
{#    <script> new WOW().init(); </script>#}
{% endblock %}