{% extends "layout/layout" %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% block meta %}
    {{ headTitle(brand.name).setSeparator(' - ').setAutoEscape(false)|raw }}
{% endblock %}
{% import 'layout/breadcrumbs' as breadcrumbs %}
{% block script %}
<script type="text/javascript" src="{{ templatePath ~'/js/indexproduct.js' }}"></script>
{% endblock %}
{% block body %}
{% block breadcrumbs %}
{% block breadcrumb %}
{% set brand = [{'label': brand.name , 'uri': brand.viewLink }] %}
{{ breadcrumbs.build(brand) }}
{% endblock %}
{% endblock %}
{% set arrayIds = []%}
    <main class="wrapper main-content  custom_page ">
        <section id="collection-wrapper">
            <div class="inner">
                <div class="grid">
                    <div class="grid__item medium--one-whole small--one-whole">
                        <div class="collection-content-wrapper">
                            <div class="collection-head">
                                <div class="grid">
                                    <div class="grid__item large--seven-twelfths medium--one-whole small--one-whole">
                                        <div class="collection-title">
                                            <h1>{{ brand.name }}</h1>
                                        </div>
                                    </div>
                                    <div class="grid__item large--five-twelfths medium--one-whole small--one-whole">
                                        <div class="collection-sorting-wrapper">
                                            <div class="form-horizontal ">
                                                <label for="SortBy">Sắp xếp</label>
                                                <select name="SortBy" id="SortBy" onChange="window.location=this.options[this.selectedIndex].value">
                                                    <option value="{{ category.viewLink }}">Tùy chọn</option>
                                                    <option value="{{ addFilter('show', 'discount', 2) }}" {{ getParam('show') == 'discount' ? 'selected' : '' }}>Sản phẩm khuyến mãi</option>
                                                    <option value="{{ addFilter('show', 'new', 2) }}" {{ getParam('show') == 'new' ? 'selected' : '' }}>Sản phẩm mới</option>
                                                    <option value="{{ addFilter('show', 'nameAsc', 2) }}" {{ getParam('show') == 'nameAsc' ? 'selected' : '' }}>Theo bảng chữ cái từ A-Z</option>
                                                    <option value="{{ addFilter('show', 'nameDesc', 2) }}" {{ getParam('show') == 'nameDesc' ? 'selected' : '' }}>Theo bảng chữ cái từ Z-A</option>
                                                    <option value="{{ addFilter('show', 'priceAsc', 2) }}" {{ getParam('show') == 'priceAsc' ? 'selected' : '' }}>Giá từ thấp tới cao</option>
                                                    <option value="{{ addFilter('show', 'priceDesc', 2) }}" {{ getParam('show') == 'priceDesc' ? 'selected' : '' }}>Giá từ cao tới thấp</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collection-body">
                                <div class="grid-uniform product-list mg-left-15">
                                    {% if (paginator.currentModels) %}
                                        {% for p in paginator.currentModels %}
                                            {% set image = p.thumbnailUri %}
                                            {% set options = {
                                                alt: p.name,
                                                class: 'imageChange',
                                                lazy: true,
                                                openDiv: false,
                                            }%}
                                            {% set percent = p.calcDiscountPercent %}
                                            {% set priceDiscount = p.priceAfterDiscount %}
                                            {% set arrayIds = [p.id] %}
                                            <div class="grid__item large--one-quarter medium--one-third small--one-half pd-left15">
                                                <div class="product-item" data-storeId="{{ p.storeId }}"
                                                     data-pid="{{ p.id }}">
                                                    <div class="product-img">
                                                        <a href="{{ p.viewLink }}">
                                                            <img id="{{ p.id }}" class="img lazyload img-first" src="//theme.hstatic.net/1000187250/1000280706/14/lazyload.jpg?v=1588" data-src="{{ p.thumbnailUri }}" alt="{{ p.name }}">
                                                            <img id="{{ p.id }}" class="img lazyload img-second" src="//theme.hstatic.net/1000187250/1000280706/14/lazyload.jpg?v=1588" data-src="{{ p.thumbnailUri }}" alt="{{ p.name }}">
                                                        </a>
                                                        <div class="product-actions text-center clearfix medium--hide small--hide">
                                                            <div>
                                                                <button type="button"
                                                                        class="out-stock"
                                                                        data-id="{{ p.id }}" style="display: none">Tạm hết
                                                                </button>
                                                                {#                                                                    <button type="button" class="btnAddToCart add-to-cart " data-id="1014176518"><span><i class="fa fa-cart-plus" aria-hidden="true"></i></span></button>#}
                                                                {% set parentId = constant('Product\\Model\\Store::PS_PARENT_ROOT') %}
                                                                {% if(p.parentId == parentId) %}
                                                                    <button type="button"
                                                                            class="btnQuickView quick-view"
                                                                            data-handle="{{ p.viewLink }}"
                                                                            data-psId="{{ p.id }}">
                                                                        <span><i
                                                                                    class="fa fa-cart-plus"
                                                                                    aria-hidden="true"></i></span>
                                                                    </button>
                                                                    <button type="button" class="btnBuyNow buy-now btnQuickView quick-view" data-psId="{{ p.id }}">Mua ngay</button>
                                                                {% else %}
                                                                    <button type="button" id="btnQuickCart"
                                                                            class="btnAddToCart add-to-cart"
                                                                            data-id="{{ p.id }}" ck="1" selid="{{ p.id }}" data-buy="1"><span><i
                                                                                    class="fa fa-cart-plus"
                                                                                    aria-hidden="true"></i></span>
                                                                    </button>
                                                                    <button type="button"
                                                                            class="btnAddToCart btnBuyNow buy-now" id="buyNow" ck="1" selid="{{ p.id }}"
                                                                            data-id="{{ p.id }}">Mua ngay
                                                                    </button>
                                                                {% endif %}
                                                                <button type="button" class="btnQuickView quick-view" data-handle="{{ p.viewLink }}" data-psId="{{ p.id }}">
                                                                        <span>
                                                                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                                                                        </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        {% if (percent and percent > 0) %}
                                                            <div class="product-tags">
                                                            <span class="tag-saleoff text-center">
                                                                -{{ percent }}%
                                                            </span>
                                                            </div>
                                                        {% endif %}

                                                    </div>
                                                    <div class="product-info">
                                                        <div class="product-title">
                                                            <a href="{{ p.viewLink }}">{{ p.name }}</a>
                                                        </div>
                                                        <div class="product-price clearfix">
                                                            {% if (p.priceAfterDiscount > 0) %}
                                                                <span class="current-price">{{ p.priceAfterDiscount|number_format(0) }}₫</span>
                                                                <span class="original-price"><s>{{ p.price|number_format(0) }}₫</s></span>
                                                            {% elseif (p.oldprice() > 0) %}
                                                                <span class="current-price">{{ p.price|number_format(0) }}₫</span>
                                                                <span class="original-price"><s>{{ p.oldPrice|number_format(0) }}₫</s></span>
                                                            {% else %}
                                                                <span class="current-price">{{ p.price|number_format(0) }}₫</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else%}
                                        <p style="padding-left: 15px">Không có kết quả nào phù hợp !</p>
                                    {% endif %}

                                </div>
                                <div class="pagination not-filter">
                                    <div id="pagination-" class="text-center">
                                        {{ render_paginator(paginator) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}


