{% extends "layout/layout" %}
{% import 'layout/breadcrumbs' as breadcrumbs %}
{% block meta %}
    {{ headTitle('Reset password tài khoản').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="description" content="Reset password tài khoản">
    <meta name="keywords" content="Reset password tài khoản">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:title" content="Reset password tài khoản">
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ '/css/validationEngine.jquery.css' }}" type="text/css">
{% endblock %}
{% block body %}
    <div class="container-fluid top-product">
        {% set category = [{'label':'Đăng nhập tài khoản', 'uri':'/user/getpassword'}] %}
        {{ breadcrumbs.build(category) }}
    </div>

    <div class="container">
        <div class="row">
            <section id="columns" class="offcanvas-siderbars">
                <section class="col-lg-9 col-md-9 col-sm-12 col-xs-12 main-column">
                    <div id="content">
                        <div id='profile-page'>
                            <h1 style="font-size: 20px">{{ translate('Quên mật khẩu') }}
                                <h5 style="font-size: 16px">(Vui lòng truy cập gmail đăng ký để nhận link reset mật khẩu!)</h5></h1>
                            <p>{{ message|raw }}</p>
                            <div class='profile'>
                                {{ partial('partial/form',{'form':form}) }}
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
<style>
    .top-product {
        background: #e9ecef;
        line-height: 15px;
        font-size: 15px;
    }
    label span{
        color: red;
    }
    ul li{
        list-style-type: none;
    }
    ul{
        padding: 0;
    }
    input{
        display: block;
     }
</style>
    <script>
        $(document).ready(function () {
            $('#newpassword').addClass('form-control');
            $('#btnSubmit').addClass('btn btn-success');
        })

    </script>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ '/js/jquery/jquery.validationEngine-vi.js' }}"></script>
    <script type="text/javascript" src="{{ '/js/jquery/jquery.validationEngine.js' }}"></script>
{% endblock %}