{% extends "layout/layout" %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% import 'layout/breadcrumbs' as breadcrumbs %}
{% block meta %}
    {{ headTitle(agency.name).setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta property="og:title" content="{{ agency.name }}">
    <meta property="og:url" content="{{ agency.viewLink }}">
    <meta property="og:image" content="{{ 'https:'~agency.imageSrc }}">
    <meta property="og:type" content="article">
{% endblock %}
{% block body %}
    {% if(agency == null) %}
        <h3>Không tìm thấy nội dung yêu cầu</h3>
    {% else %}
        {% set locations = [{'name': agency.name,'address' : agency.address,'lat' : agency.latitude,'lng' : agency.longitude}]%}
        <textarea id="locations" style="display: none">{{ locations | json_encode }}</textarea>
        <div class="containerMain">
            {% set category = [{'label': 'Hệ thông phân phối', 'uri':'/he-thong-dai-ly'}] %}
            {% set category = category | merge([{'label': agency.name, 'uri':agency.viewLink}]) %}
            {{ breadcrumbs.build(category) }}

            <div class="contactContent">
                <div id="desAgence">
                    <ul>
                        <li>Cửa hàng: <b style="font-size: 18px">{{ agency.name }}</b></li>
                        <li>Địa chỉ: {{ agency.address }}</li>
                        <li>Số điện thoại: {{ agency.phone }}</li>
                        <li>Email: {{ agency.email }}</li>
                    </ul>
                    {{ agency.content | raw }}
                </div>
                <h2><a href="/he-thong-dai-ly">Hệ thống phân phối</a></h2>
                <h3>CAPTOT.vn - Chuỗi cửa hàng bán cặp, balo chống gù số 1 Việt Nam</h3>
                <ul>
                    <li>
                        <div id="map"></div>
                        <!--                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0311146421022!2d105.82099931433865!3d21.031440993063953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab749e06953d%3A0x725a1d6a06284c6e!2zMjc4IEtpbSBNw6MsIEJhIMSQw6xuaCwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1462424511923" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                    </li>
                </ul>
            </div>
            <input type="hidden" id="lat" value="{{ agency.latitude }}">
            <input type="hidden" id="lng" value="{{ agency.longitude }}">
        </div>


        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkVR4-6C4jDlvz9WxNuS7iY0T8nALacPM&callback=initMap"
                async defer></script>
        <script>
            function initMap() {
                var lat = document.getElementById('lat').value;
                var lng = document.getElementById('lng').value;

                var myLatLng = {lat: parseFloat(lat), lng: parseFloat(lng)};

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: myLatLng,
                });

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'Hello World!'
                });
            }

        </script>
        <style>
            #desAgence ul{
                border: 1px solid #6e6d6d;
            }
            #desAgence ul li{
                padding: 5px 0;
            }
            #map-canvas { height: 100%; margin: 0; padding: 0;}
            .imgStore img{
                max-width: 100%;
            }
            .contactContent > h2{
                border-bottom: 1px solid #f44242;
                text-transform: uppercase;
                display: inline-block;
                clear: both;
                font-size: 17px;
                color: #222;
            }
            .contactContent > h3{
                display: block;
                color: #000;
                clear: both;
                font-size: 18px;
                padding: 10px 20px;
                background: #DEDEDE;
                text-transform: uppercase;
                margin: 10px 0 0 0;
            }
            .contactContent ul{
                margin: 0;
                padding: 0;
                display: inline-block;
                width: 100%;
            }
            .contactContent ul li{
                list-style: none;
                position: relative;
                font-size: 15px;
                text-align: center;
                margin: 10px 0 0 0;
            }
            .contactContent ul li #map{
                display: inline-block;
                width: 100%;
                height:500px;
            }
            .contactContent ul li p{
                display: block;
                font-size: 13px;
                font-weight: 600;
                color: #333;
            }
            .contactContent ul li p span{
                display: inline-block;
                width: 57px;
                height: 60px;
                vertical-align: middle;
                margin: 0 10px 0 0;
            }
            .contactContent h2 a{
                color: #333;
            }
            .contactContent h2 a:hover{
                text-decoration: none !important;
            }
        </style>
    {% endif %}
{% endblock %}
