{% extends "layout/layout" %}

{% block body %}
    <section class="cate-pro">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <a href="#" class="tl">
                        <p class="ttt">
                            Phòng Khách
                            <span>Xem sản phẩm</span>
                        </p>
                        <picture>
                            <source media="(min-width: 1200px)" srcset="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate_1.jpg' }}">
                            <source media="(min-width: 992px)" srcset="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate_1.jpg' }}">
                            <source media="(min-width: 569px)" srcset="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate_1.jpg' }}">
                            <source media="(min-width: 480px)" srcset="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate_1_large.jpg' }}">
                            <img src="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate_1_large.jpg' }}">
                        </picture>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <a href="#" class="tl">
                        <p class="ttt">
                            Phòng Khách
                            <span>Xem sản phẩm</span>
                        </p>
                        <picture>
                            <source media="(min-width: 1200px)" srcset="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate_1.jpg' }}">
                            <source media="(min-width: 992px)" srcset="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate_1.jpg' }}">
                            <source media="(min-width: 569px)" srcset="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate_1.jpg' }}">
                            <source media="(min-width: 480px)" srcset="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate_1_large.jpg' }}">
                            <img src="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate_1_large.jpg' }}">
                        </picture>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <a href="#" class="tl">
                        <p class="ttt">
                            Phòng Khách
                            <span>Xem sản phẩm</span>
                        </p>
                        <picture>
                            <source media="(min-width: 1200px)" srcset="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate_1.jpg' }}">
                            <source media="(min-width: 992px)" srcset="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate_1.jpg' }}">
                            <source media="(min-width: 569px)" srcset="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate_1.jpg' }}">
                            <source media="(min-width: 480px)" srcset="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate_1_large.jpg' }}">
                            <img src="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate_1_large.jpg' }}">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="main-col sock_to_day">
        <div class="container">
            <div class="product-sok">
                <div class="new_title text-center">
                    <h2>
                        <a href="san-pham-noi-bat">
                            Sản phẩm nổi bật
                        </a>
                    </h2>
                </div>
                <div class="sock_slide slider-items slick_margin slick-initialized slick-slider">
                    <button type="button" class="slick-prev slick-arrow" style="display: block;">Previous</button>

                    <div class="slick-list draggable">
                        <div class="slick-track" style="opacity: 1; width: 2264px;">
                            <div class="item slick-slide slick-current slick-active" style="width: 273px;">
                                <div class="col-item">
                                    <div class="sale-label sale-top-right"><span>-16%</span></div>

                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                                <a href="#" class="thumb flip">
                                                    <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/ke-ti-vi-phong-khach-doc-dao.jpg' }}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <h3 class="item-title">
                                                    <a href="#">Bàn trà gỗ tự nhiên 5CBT-136 </a>
                                                </h3>
                                                <div class="item-content">
                                                    <div class="item-price">
                                                        <div class="price-box">
                                                            <p class="special-price">
                                                                <span class="price">6.590.000₫</span>
                                                            </p>
                                                            <p class="old-price">
                                                                <span class="price">7.890.000₫</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="actions hidden-xs hidden-sm remove_html">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid form-ajaxtocart has-validation-callback">
                                                    <button class="button btn-cart btn-more" type="button">
                                                        Chi tiết
                                                    </button>

                                                    <input type="hidden" name="variantId">
                                                    <button class="button btn-cart add_to_cart">
                                                        Mua hàng
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item slick-slide slick-active" style="width: 273px;">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                                <a href="#" class="thumb flip">
                                                    <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/ke-ti-vi-phong-khach-doc-dao.jpg' }}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <h3 class="item-title">
                                                    <a href="#">Kệ tivi phòng khách độc đáo 5CKT-17 </a>
                                                </h3>
                                                <div class="item-content">
                                                    <div class="item-price">
                                                        <div class="price-box">
                                                            <span class="regular-price">
                                                                <span class="price">8.250.000₫</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="actions hidden-xs hidden-sm remove_html">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid form-ajaxtocart has-validation-callback">
                                                    <button class="button btn-cart btn-more" title="Chi tiết sản phẩm" type="button">
                                                        Chi tiết
                                                    </button>
                                                    <input type="hidden" name="variantId">
                                                    <button class="button btn-cart add_to_cart">
                                                        Mua hàng
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item slick-slide slick-active" style="width: 273px;">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                                <a href="#" class="thumb flip">
                                                    <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/ke-ti-vi-phong-khach-doc-dao.jpg' }}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <h3 class="item-title">
                                                    <a href="#">Kệ tivi phòng khách độc đáo 5CKT-17 </a>
                                                </h3>
                                                <div class="item-content">
                                                    <div class="item-price">
                                                        <div class="price-box">
                                                            <span class="regular-price">
                                                                <span class="price">8.250.000₫</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="actions hidden-xs hidden-sm remove_html">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid form-ajaxtocart has-validation-callback">
                                                    <button class="button btn-cart btn-more" type="button" >
                                                        Chi tiết
                                                    </button>
                                                    <input type="hidden" name="variantId">
                                                    <button class="button btn-cart add_to_cart">
                                                        Mua hàng
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item slick-slide slick-active" style="width: 273px;">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                                <a href="#" class="thumb flip">
                                                    <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/ke-ti-vi-phong-khach-doc-dao.jpg' }}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <h3 class="item-title">
                                                    <a href="#">Kệ tivi phòng khách độc đáo 5CKT-17 </a>
                                                </h3>
                                                <div class="item-content">
                                                    <div class="item-price">
                                                        <div class="price-box">
                                                            <span class="regular-price">
                                                                <span class="price">8.250.000₫</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="actions hidden-xs hidden-sm remove_html">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid form-ajaxtocart has-validation-callback">
                                                    <button class="button btn-cart btn-more" type="button">
                                                        Chi tiết
                                                    </button>
                                                    <input type="hidden" name="variantId">
                                                    <button class="button btn-cart add_to_cart">
                                                        Mua hàng
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item slick-slide" style="width: 273px;">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                                <a href="#" class="thumb flip">
                                                    <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/ke-ti-vi-phong-khach-doc-dao.jpg' }}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <h3 class="item-title">
                                                    <a href="#">Kệ tivi phòng khách độc đáo 5CKT-17 </a>
                                                </h3>
                                                <div class="item-content">
                                                    <div class="item-price">
                                                        <div class="price-box">
                                                            <span class="regular-price">
                                                                <span class="price">8.250.000₫</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="actions hidden-xs hidden-sm remove_html">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid form-ajaxtocart has-validation-callback">
                                                    <button class="button btn-cart btn-more" type="button">
                                                        Chi tiết
                                                    </button>
                                                    <input type="hidden" name="variantId">
                                                    <button class="button btn-cart add_to_cart">
                                                        Mua hàng
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item slick-slide" style="width: 273px;">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                                <a href="#" class="thumb flip">
                                                    <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/ke-ti-vi-phong-khach-doc-dao.jpg' }}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <h3 class="item-title">
                                                    <a href="#">Kệ tivi phòng khách độc đáo 5CKT-17 </a>
                                                </h3>
                                                <div class="item-content">
                                                    <div class="item-price">
                                                        <div class="price-box">
                                                            <span class="regular-price">
                                                                <span class="price">8.250.000₫</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="actions hidden-xs hidden-sm remove_html">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid form-ajaxtocart has-validation-callback">
                                                    <button class="button btn-cart btn-more" type="button">
                                                        Chi tiết
                                                    </button>
                                                    <input type="hidden" name="variantId">
                                                    <button class="button btn-cart add_to_cart">
                                                        Mua hàng
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item slick-slide" style="width: 273px;">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                                <a href="#" class="thumb flip">
                                                    <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/ke-ti-vi-phong-khach-doc-dao.jpg' }}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <h3 class="item-title">
                                                    <a href="#">Kệ tivi phòng khách độc đáo 5CKT-17 </a>
                                                </h3>
                                                <div class="item-content">
                                                    <div class="item-price">
                                                        <div class="price-box">
                                                            <span class="regular-price">
                                                                <span class="price">8.250.000₫</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="actions hidden-xs hidden-sm remove_html">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid form-ajaxtocart has-validation-callback">
                                                    <button class="button btn-cart btn-more" type="button">
                                                        Chi tiết
                                                    </button>
                                                    <input type="hidden" name="variantId">
                                                    <button class="button btn-cart add_to_cart">
                                                        Mua hàng
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item slick-slide" style="width: 273px;">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                                <a href="#" class="thumb flip">
                                                    <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/ke-ti-vi-phong-khach-doc-dao.jpg' }}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <h3 class="item-title">
                                                    <a href="#">Kệ tivi phòng khách độc đáo 5CKT-17 </a>
                                                </h3>
                                                <div class="item-content">
                                                    <div class="item-price">
                                                        <div class="price-box">
                                                            <span class="regular-price">
                                                                <span class="price">8.250.000₫</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="actions hidden-xs hidden-sm remove_html">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid form-ajaxtocart has-validation-callback">
                                                    <button class="button btn-cart btn-more" type="button">
                                                        Chi tiết
                                                    </button>
                                                    <input type="hidden" name="variantId">
                                                    <button class="button btn-cart add_to_cart">
                                                        Mua hàng
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="slick-next slick-arrow slick-disabled" style="display: block;">Next</button>
                </div>
            </div>
        </div>
    </div>

    <div class="main-col bg_menu lazyload">
        <div class="container">
            <div class="std">
                <div class="best-seller-pro menu" style="visibility: visible;">
                    <div class="slider-items-products">
                        <div class="new_title lt clear_pd">
                            <h2><a href="/phong-khach" title="Phòng Khách">Phòng Khách</a></h2>
                        </div>
                        <div id="best-seller-slider" class="hidden-buttons">
                            <div class="row">
                                <div class="col-md-3 col-xs-12 hidden-sm hidden-xs remove_html">
                                    <ul class="cate_1">

                                        <li class="level0- level0">
                                            <a href="/"><span>Ghế Sofa Bộ</span></a>
                                        </li>

                                    </ul>
                                    <div class="bn_cate">
                                        <a href="#" title="Mew Furniture">
                                            <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/bn_cate.png' }}">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-9 col-xs-12">
                                    <div class="slider-items slick_margin slider-width-col6 slick-initialized slick-slider">
                                        <div class="slick-list draggable">
                                            <div class="slick-track" style="opacity: 1; width: 848px; transform: translate3d(0px, 0px, 0px);">

                                                <div class="item slick-slide slick-current slick-active" style="width: 202px;">
                                                    <div class="col-item">
                                                        <div class="item-inner">
                                                            <div class="product-wrapper">
                                                                <div class="thumb-wrapper">
                                                                    <a href="#" class="thumb flip">
                                                                        <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/sofa-giuong-sf194.jpg' }}">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="item-info">
                                                                <div class="info-inner">
                                                                    <h3 class="item-title">
                                                                        <a href="#">Sofa giường 5CSF-194 </a>
                                                                    </h3>
                                                                    <div class="item-content">
                                                                        <div class="item-price">
                                                                            <div class="price-box">
                                                                                <span class="regular-price">
                                                                                    <span class="price">15.200.000₫</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <!-- Holder for Product Review -->
                                                                    </div>
                                                                </div>

                                                                <div class="actions hidden-xs hidden-sm remove_html">
                                                                    <form action="/cart/add" method="post" class="variants form-nut-grid form-ajaxtocart has-validation-callback">
                                                                        <button class="button btn-cart btn-more" title="Chi tiết sản phẩm" type="button">
                                                                            Chi tiết
                                                                        </button>
                                                                        <input type="hidden" name="variantId" value="29795358" tabindex="0">
                                                                        <button class="button btn-cart add_to_cart" title="Mua hàng" tabindex="0">
                                                                            Mua hàng
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="small-product-slider test_people">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <div class="blog-title new_title lt">
                        <h2>
                            <a href="tin-tuc" title="Cẩm nang nhà đẹp">
                                <span>Cẩm nang nhà đẹp</span>
                            </a>
                        </h2>
                    </div>

                    <div id="b-blog">
                        <div class="slider-items slider-width-col3 slick-initialized slick-slider">
                            <button type="button" class="slick-prev slick-arrow" style="display: block;">Previous</button>
                            <div class="slick-list draggable">
                                <div class="slick-track" style="opacity: 1; width: 3185px; transform: translate3d(-2275px, 0px, 0px);">
                                    <div class="item slick-slide slick-cloned" style="width: 445px;">
                                        <div class="item_bl_index">
                                            <div class="blog-img blog-l">

                                                <a href="#">
                                                    <img class="lazyload" src="{{ '/tpl/'~ templateDir ~'/imgs/tin-tuc-650x339.jpg' }}">
                                                </a>

                                            </div>
                                            <a href="#">
                                                <div class="blog_inner as">
                                                    <h3>Phòng thay đồ (Closet) trong nhà – Không gian sống nên có của phụ nữ hiện đại</h3>
                                                    <p class="justify line-3">  “Phụ nữ hiện đại, ra đường phải ăn mặc như công chúa và sống như một nữ thần, là bà hoàng của cuộc đời mình, kiêu hãnh và...</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="item slick-slide"style="width: 445px;">
                                        <div class="item_bl_index">
                                            <div class="blog-img blog-l">

                                                <a href="#">
                                                    <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/tin-tuc-650x339.jpg' }}">
                                                </a>

                                            </div>
                                            <a href="/noi-that-biet-thu-mang-phong-cach-xe-sang-lexus" title="Nội thất biệt thự mang phong cách xe sang LEXUS" tabindex="-1">
                                                <div class="blog_inner as">
                                                    <h3>Nội thất biệt thự mang phong cách xe sang LEXUS</h3>
                                                    <p class="justify line-3">  Vinhomes Impera Hải Phòng – Nội thất biệt thự sang trọng và ấn tượng mang phong cách xe sang Lexus nhờ ứng dụng công nghệ sơn High-gloss và...</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="item slick-slide" style="width: 445px;">
                                        <div class="item_bl_index">
                                            <div class="blog-img blog-l">

                                                <a href="#">
                                                    <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/tin-tuc-650x339.jpg' }}">
                                                </a>

                                            </div>
                                            <a href="#">
                                                <div class="blog_inner as">
                                                    <h3>Thiết kế phòng bếp hiện đại 2020</h3>
                                                    <p class="justify line-3"> Phong thủy phòng bếp có ý nghĩa rất quan trọng đối với sự thăng tiến, tài lộc cũng như sức khỏe của các thành viên trong gia đình. Vì...</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="item slick-slide" style="width: 445px;">
                                        <div class="item_bl_index">
                                            <div class="blog-img blog-l">

                                                <a href="#">
                                                    <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/tin-tuc-650x339.jpg' }}">
                                                </a>

                                            </div>
                                            <a href="#">
                                                <div class="blog_inner as">
                                                    <h3>Nội thất phòng khách nhập khẩu được ưa chuộng trong 2019</h3>
                                                    <p class="justify line-3"> Nếu ví ngôi nhà là một cá thể nhất định thì không gian phòng khách chính là vẻ bề ngoài còn nội thất của phòng khách thể hiện phần...</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="item slick-slide" style="width: 445px;">
                                        <div class="item_bl_index">
                                            <div class="blog-img blog-l">
                                                <a href="#">
                                                    <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/tin-tuc-650x339.jpg' }}">
                                                </a>
                                            </div>

                                            <a href="#">
                                                <div class="blog_inner as">
                                                    <h3>Thiết kế phòng khách tinh tế và sang trọng</h3>
                                                    <p class="justify line-3">
                                                        THIẾT KẾ PHÒNG KHÁCH HƯỚNG TỚI SỰ TINH TẾ VÀ SANG TRỌNG CHO GIA CHỦ
                                                        Các giải pháp thiết kế phòng khách: ...
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="item slick-slide slick-current slick-active" style="width: 445px;">
                                        <div class="item_bl_index">
                                            <div class="blog-img blog-l">

                                                <a href="#">
                                                    <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/tin-tuc-650x339.jpg' }}">
                                                </a>

                                            </div>
                                            <a href="#">
                                                <div class="blog_inner as">
                                                    <h3>Phòng thay đồ (Closet) trong nhà – Không gian sống nên có của phụ nữ hiện đại</h3>
                                                    <p class="justify line-3">
                                                        “Phụ nữ hiện đại, ra đường phải ăn mặc như công chúa và sống như một nữ thần, là bà hoàng của cuộc đời mình, kiêu hãnh và...
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="item slick-slide slick-cloned" style="width: 445px;">
                                        <div class="item_bl_index">
                                            <div class="blog-img blog-l">

                                                <a href="#">
                                                    <img class="lazyload" src="{{ '/tpl/'~ templateDir ~'/imgs/tin-tuc-650x339.jpg' }}">
                                                </a>

                                            </div>
                                            <a href="#">
                                                <div class="blog_inner as">
                                                    <h3>Nội thất biệt thự mang phong cách xe sang LEXUS</h3>
                                                    <p class="justify line-3">
                                                        Vinhomes Impera Hải Phòng – Nội thất biệt thự sang trọng và ấn tượng mang phong cách xe sang Lexus nhờ ứng dụng công nghệ sơn High-gloss và...
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="slick-next slick-arrow" style="display: block;">Next</button>
                        </div>

                        <div class="view_more">
                            <a href="#">Xem tất cả</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 col-xs-12">
                    <div class="bag-product-slider small-pr-slider">
                        <div class="slider-items-products">
                            <div class="new_title lt center">
                                <h2>Hãy cùng trải nghiệm</h2>
                            </div>
                            <div id="upsell-products-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col3 slick-initialized slick-slider slick-dotted">
                                    <div aria-live="polite" class="slick-list draggable">
                                        <div class="slick-track" role="listbox" style="opacity: 1; width: 3225px; transform: translate3d(-645px, 0px, 0px);">
                                            <div class="item-ykkh slick-slide slick-cloned" style="width: 635px;">
                                                <div class="content_tip">
                                                    <p>Các bạn phục vụ ở Mew Coffee rất nhiệt tình và vui tính. Đồng uống đa dạng lại có thêm các món ăn nhanh thích hợp để mình cũng các bạn tụ tập cuối tuần thư giãn tại đây. Chúc Mew Coffee phát triển hơn nữa nhé.</p>

                                                    <div class="hgroup">
                                                        <p><img alt="Ngọc Anh" class=" lazyload" src="{{ '/tpl/'~ templateDir ~'/imgs/ykkh_3.jpg' }}"></p>
                                                        <p class="name">Ngọc Anh</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-ykkh slick-slide slick-cloned" style="width: 635px;">
                                                <div class="content_tip">
                                                    <p>Các bạn phục vụ ở Mew Coffee rất nhiệt tình và vui tính. Đồng uống đa dạng lại có thêm các món ăn nhanh thích hợp để mình cũng các bạn tụ tập cuối tuần thư giãn tại đây. Chúc Mew Coffee phát triển hơn nữa nhé.</p>

                                                    <div class="hgroup">
                                                        <p><img alt="Ngọc Anh" class=" lazyload" src="{{ '/tpl/'~ templateDir ~'/imgs/ykkh_3.jpg' }}"></p>
                                                        <p class="name">Ngọc Anh</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-ykkh slick-slide slick-cloned" style="width: 635px;">
                                                <div class="content_tip">
                                                    <p>Các bạn phục vụ ở Mew Coffee rất nhiệt tình và vui tính. Đồng uống đa dạng lại có thêm các món ăn nhanh thích hợp để mình cũng các bạn tụ tập cuối tuần thư giãn tại đây. Chúc Mew Coffee phát triển hơn nữa nhé.</p>

                                                    <div class="hgroup">
                                                        <p><img alt="Ngọc Anh" class=" lazyload" src="{{ '/tpl/'~ templateDir ~'/imgs/ykkh_3.jpg' }}"></p>
                                                        <p class="name">Ngọc Anh</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="slick-dots" style="display: block;">
                                        <li class="slick-active"id="slick-slide50">
                                            <button type="button">1</button>
                                        </li>
                                        <li id="slick-slide51">
                                            <button type="button">2</button>
                                        </li>
                                        <li id="slick-slide52">
                                            <button type="button">3</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="latest-blog">
        <div class="container">
            <div class="blog-title new_title lt">
                <h2>
                    <a href="tin-tuc" title="Kiến thức Phong Thủy">
                        <span>Kiến thức Phong Thủy</span>
                    </a>
                </h2>
            </div>

            <div class="row x">
                <div class="col-xs-12 col-sm-6 col-md-4 item_bl_index">
                    <div class="blog_inner">
                        <div class="blog-img blog-l">
                            <a href="#">
                                <img class="lazyload loaded" src="{{ '/tpl/'~ templateDir ~'/imgs/7-650x339.jpg' }}">
                            </a>
                        </div>
                        <h3><a href="#">Nội thất biệt thự mang phong cách xe sang LEXUS</a></h3>
                        <p class="justify line-3">
                            Vinhomes Impera Hải Phòng – Nội thất biệt thự sang trọng và ấn tượng mang phong cách xe sang Lexus nhờ ứng dụng công nghệ sơn High-gloss và...
                        </p>
                    </div>
                </div>
            </div>

            <div class="view_more">
                <a href="#">Xem tất cả</a>
            </div>
        </div>
    </section>
{% endblock %}