{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Thông tin người dùng').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="description" content="Thông tin người dùng">
    <meta name="keywords" content="Thông tin người dùng">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:title" content="Thông tin người dùng">
    <meta property="og:type" content="article">
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ templatePath ~'/css/childs/user.css' }}" type="text/css">
{% endblock %}
{% block body %}
    <div class="containerMain">
        <div class="row">
            <div class="col-sm-12">
                <div id="headerProfile">
                    <p id="avatarProfile">
                        <img  src="/img/avatar_comment.png" alt="avatar"/>
                    </p>
                    <h3>{{ user.fullName | e('html') }}</h3>
                    <p><{{ user.email }}</p>
                    <span class="clearfix"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="sidebar">
                    <ul id="profileMenu">
                        <li class="active"><a href="/profile">{{ translate('Trang cá nhân') }}</a></li>

                        <li><a href="/order">{{ translate('Quản lý đơn hàng') }}</a></li>
                        <li><a href="/user/signout">{{ translate('Thoát') }}</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-sm-9">
                <div class="ctrl-wrapper">
                    <div id="profileContent">
                        <div id="profileIf">
                            <div class="pf">
                                <span><b>{{ translate('Họ và tên') }}: </b></span>{{ user.fullName }}
                            </div>
                            <div class="pf">
                                <span><b>Email</b></span>{{ user.email }}
                            </div>
                            <div class="pf">
                                <span><b>{{ translate('Điện thoại') }}: </b></span>{{ user.mobile }}
                            </div>
                            <div class="pf">
                                <span><b>{{ translate('Địa chỉ') }}: </b></span>{{ user.address }}
                            </div>
                            <div class="pf">
                                <span><b>{{ translate('Ngày sinh') }}: </b></span>{{ user.birthday | date("d/m/Y")}}
                            </div>
                            <div class="pf">
                                <span><b>{{ translate('Giới tính') }}: </b></span>{{ (user.gender==1?'Nam':'Nữ') }}
                            </div>
                            <div class="pf">
                                <span></span><a href="/profile/edit" class="btnGreen">{{ translate('Sửa thông tin') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}