{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Trang cá nhân').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="description" content="Trang cá nhân">
    <meta name="keywords" content="Trang cá nhân">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:title" content="Trang cá nhân">
{% endblock %}

{% block body %}
<style>
    .slug {
        background-color: #ededed;
        padding: 10px 0;
    }
    
    .fix-infomation-user input, select, option {
        width: 50%;
        font-size: 1.2rem;
    }
    .fix-infomation-user .box-form {
        padding: 20px;
        background: #ededed;
        border-radius: 5px;
    }
    @media (min-width: 992px) {
        .fix-infomation-user {
            height: 500px;
        }
        .fix-infomation-user .box-form {
            width: 500px;
        }
    }
    .fix-infomation-user .box-button button {
        font-size: 1.2rem;
    }
</style>
    <div class="slug">
        <div class="container">
            <div class="slug-container">
                <span><a href="/">Trang chủ</a> / Trang cá nhân</span>
            </div>
        </div>
    </div>
    <section class="fix-infomation-user">
    <div class="container d-flex justify-content-center align-items-center h-100">
        <div class="box-form">
            <h2 class="text-center mr-bottom">Sửa thông tin cá nhân</h2>
            <form class="" action="" method="post">
            <div class="d-flex justify-content-between mr-bottom">
                <span class="address-gmail">Địa chỉ email</span>
                <input type="text"
                        class="form-control" 
                        name="" 
                        id="" 
                        value="{{ user.email }}" 
                        disabled
                        >
            </div>
            <div class="d-flex justify-content-between mr-bottom">
                <span class="name">Họ và tên</span>
                <input type="text"
                        class="form-control validate[required,minSize[4],maxSize[32]]" 
                        id="fullName" 
                        name="fullName" 
                        value="{{ user.fullName }}"
                        placeholder="Họ và tên..."
                        >
            </div>
            <div class="d-flex justify-content-between mr-bottom">
                <span class="phone-number">Số điện thoại</span>
                <input type="text"
                        class="form-control validate[required,custom[phone]]" 
                        id="mobile" 
                        name="mobile" 
                        value="{{ user.mobile }}"
                        placeholder="Số điện thoại..." 
                        >
            </div>
            <div class="d-flex justify-content-between mr-bottom">
                <span class="district">Thành Phố</span>
                <select class="form-control form-control-lg w-50" 
                        name='cityId' 
                        id='cityId'>
                    <option>--- Thành phố ---</option>
                    {% for city in cities %}
                        <option {{ ((city.id) == user.cityLocationId) ?'selected="selected"' : '' }} value='{{ city.id }}'>{{ city.nativeName }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex justify-content-between mr-bottom">
                <span class="address-gmail">Quận huyện</span>
                <select class="form-control form-control-lg w-50" 
                        name='districtId' 
                        id='districtId'>
                    <option>--- Quận / Huyện ---</option>
                    {% for dt in districts %}
                        <option {{ (dt.id == user.districtLocationId) ? 'selected="selected"' : '' }} value='{{ dt.id }}'>{{ dt.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex justify-content-between mr-bottom">
                <span class="address">Địa chỉ</span>
                <input type="text"
                        class="form-control validate[required]" 
                        id="address" 
                        name="address"
                        value="{{ user.address }}"
                        placeholder="Địa chỉ chi tiết..." 
                        >
            </div>
            <div class="box-button text-right">
                <button type='submit' class="btn btn-danger">Xác nhận</button>
                <button type="button" class="btn btn btn-dark" onclick="window.location.href='/profile'">Hủy</button>
            </div>    
            </form>
        </div>
    </div>    
    </section>
    <script>
        $(function () {
            Address.load('#cityId', '#districtId');
        });
    </script>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ '/js/jquery/jquery.validationEngine-vi.js' }}"></script>
    <script type="text/javascript" src="{{ '/js/jquery/jquery.validationEngine.js' }}"></script>
    <script type="text/javascript" src="{{ templatePath ~'/js/user.js' }}"></script>
{% endblock %}