{% extends 'layout/layout' %}
{% import 'layout/_lazyFocusImager' as macroLazyFocusImager %}
{% block meta %}
    {{ headTitle(category.name).setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta property="og:title" content="{{ getParam('q') }}">
    <meta property="og:image" content="https://captot.vn/tp/T0002/img/logoShare.png">
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ templatePath ~'/css/bootstrap-min.css' }}">
    <link rel="stylesheet" href="{{ templatePath ~'/css/style.css' }}">
    <link rel="stylesheet" href="{{ templatePath ~'/css/responsive.css' }}">
{% endblock %}
{% block body %}

<main>
    {% set key = getParam('q') %}
    {% set nItems = 0 %}
    {% if(paginator) %}
      {% set isPaginator = true %}
      {% set nItems = paginator.pages.totalItemCount %}
    {% else %}
      {% set nItems = paginator|length %}
    {% endif %}

    <div class="wrap__search">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"> <span>Trang chủ</span></a></li>
                <li class="breadcrumb-item active" aria-current="page">Tìm kiếm</li>
            </ol>
        </nav>

        <span class="list-show">Có <b>{{ nItems }} sản phẩm </b> cho tìm kiếm</span>

        <span class="result-search">Kết quả tìm kiếm cho <b>"{{ key }}"</b> </span>

        <div class="content-search">
            {% if(paginator.currentModels is not empty) %}
                {% for p in paginator.currentModels %}
                {% set image = p.thumbnailUri %}
                {% set options = {
                    alt: p.name,
                    class: 'attachment-270x152 size-270x152 wp-post-image',
                    lazy: true,
                    openDiv: false,
                } %}
                {% set percent = p.calcDiscountPercent %}
                {% set priceDiscount = p.priceAfterDiscount %}

                    <div class="search-item" data-storeId="{{ pag.storeId }}" psId="{{ pag.name }}">
                        <a href="{{ p.viewLink }}">
                            {{ macroLazyFocusImager.LazyFocusImager(image,options) }}
                        </a>

                        {% if(percent>0) %}
                        <p class="discount-percent icpercent">
                            -{{ percent }}%
                        </p>
                    {% endif %}

                    <div  class="name-pro-search" >
                        <a href="{{ p.viewLink }}" title="{{ p.name }}">{{ p.name }}</a>
                    </div>

                        <span class="price-search">
                            {% if(priceDiscount > 0) %}
                                <span>{{ priceDiscount|number_format(0) }} đ </span>
                                <strike>{{ p.price|number_format(0) }}  đ </strike>
                            {% elseif(p.oldprice) %}
                                <span>{{ p.price|number_format(0) }} đ </span>
                                <strike>{{ p.oldprice|number_format(0) }} đ </strike>
                            {% elseif(p.price <= 0 ) %}
                                <span>Liên hệ</span>
                            {% else %}
                                <span>{{ p.price|number_format(0) }} đ </span>
                            {% endif %}
                        </span>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="pagination number-page-search">
            <div class="links">
              {{ render_paginator(paginator) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block script %}
  <script type="text/javascript" src="{{ templatePath ~'/js/main.js' }}"></script>
  <script type="text/javascript" src="{{ templatePath ~'/js/cart.js' }}"></script>
{% endblock %}