{% extends "layout/layout" %}
{% block meta %}
    {{ headTitle('Reset password tài khoản').setSeparator(' - ').setAutoEscape(false)|raw }}
    <meta name="description" content="Reset password tài khoản">
    <meta name="keywords" content="Reset password tài khoản">
    <meta property="og:url" content="{{ getCurrentUrl() }}">
    <meta property="og:title" content="Reset password tài khoản">
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ '/css/validationEngine.jquery.css' }}" type="text/css">
{% endblock %}
{% block body %}
    <section class="bread-crumb">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="breadcrumb">
                        <li class="home">
                            <a itemprop="url" href="/">
                                <span itemprop="title">{{ translate('Trang chủ') }}</span>
                            </a>
                            <span><i class="fa">/</i></span>
                        </li>
                        <li><strong><span itemprop="title tp_title">{{ translate('Quên mật khẩu') }}</span></strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="header-navigate clearfix mb15">
        <div class="container">
            <div class="row">
                <section id="columns" class="offcanvas-siderbars">
                    <section class="col-lg-9 col-md-9 col-sm-12 col-xs-12 main-column">
                        <div id="content">
                            <div id='profile-page'>
                                <h1 style="line-height: 15px;padding: 0 0 10px 0">{{ translate('Quên mật khẩu')}}
                                    <h5>(Vui lòng truy cập gmail đăng ký để nhận link reset mật khẩu!)</h5></h1>
                                <p>{{ message|raw }}</p>
                                <div class='profile'>
                                    {{ partial('partial/form',{'form':form}) }}
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ '/js/jquery/jquery.validationEngine-vi.js' }}"></script>
    <script type="text/javascript" src="{{ '/js/jquery/jquery.validationEngine.js' }}"></script>
    <script type="text/javascript" src="{{ templatePath ~'/js/user.js' }}"></script>
{% endblock %}